castor/tags/1.2/trunk/xmlctf/tests/MasterTestSuite/schema/SAP_EBP/IncomingInvoiceEC.Create.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="urn:sap-com:document:sap:business" targetNamespace="urn:sap-com:document:sap:business" version="1.0">
 <xsd:element name="IncomingInvoiceEC.Create">
  <xsd:annotation>
   <xsd:documentation>Create Invoice</xsd:documentation>
  </xsd:annotation>
  <xsd:complexType>
   <xsd:sequence>
    <xsd:element name="IInvAccass" minOccurs="0">
     <xsd:annotation>
      <xsd:documentation>Account Assignments</xsd:documentation>
     </xsd:annotation>
     <xsd:complexType>
      <xsd:sequence>
       <xsd:element name="item" type="BAPI_ACC_C" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
     </xsd:complexType>
    </xsd:element>
    <xsd:element name="IInvHeader" type="BAPI_INV_HEADER_C">
     <xsd:annotation>
      <xsd:documentation>Header Data Invoice</xsd:documentation>
     </xsd:annotation>
    </xsd:element>
    <xsd:element name="IInvItems">
     <xsd:annotation>
      <xsd:documentation>Item Data</xsd:documentation>
     </xsd:annotation>
     <xsd:complexType>
      <xsd:sequence>
       <xsd:element name="item" type="BAPI_INV_ITEM_C" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
     </xsd:complexType>
    </xsd:element>
    <xsd:element name="IInvPartner" minOccurs="0">
     <xsd:annotation>
      <xsd:documentation>Business Partner</xsd:documentation>
     </xsd:annotation>
     <xsd:complexType>
      <xsd:sequence>
       <xsd:element name="item" type="BAPI_BUP_C" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
     </xsd:complexType>
    </xsd:element>
    <xsd:element name="IInvShipcost" minOccurs="0">
     <xsd:annotation>
      <xsd:documentation>Shipment Costs</xsd:documentation>
     </xsd:annotation>
     <xsd:complexType>
      <xsd:sequence>
       <xsd:element name="item" type="BAPI_IVSHP_C" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
     </xsd:complexType>
    </xsd:element>
    <xsd:element name="IInvTaxes" minOccurs="0">
     <xsd:annotation>
      <xsd:documentation>Taxes</xsd:documentation>
     </xsd:annotation>
     <xsd:complexType>
      <xsd:sequence>
       <xsd:element name="item" type="BAPI_IVTAX_C" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
     </xsd:complexType>
    </xsd:element>
    <xsd:element name="IInvText" minOccurs="0">
     <xsd:annotation>
      <xsd:documentation>Long Text</xsd:documentation>
     </xsd:annotation>
     <xsd:complexType>
      <xsd:sequence>
       <xsd:element name="item" type="BAPI_TEXT_I" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
     </xsd:complexType>
    </xsd:element>
    <xsd:element name="ITestrun" minOccurs="0">
     <xsd:annotation>
      <xsd:documentation>Switch to Simulation Session for Write BAPIs</xsd:documentation>
     </xsd:annotation>
     <xsd:simpleType>
      <xsd:restriction base="xsd:string">
       <xsd:maxLength value="1"/>
      </xsd:restriction>
     </xsd:simpleType>
    </xsd:element>
   </xsd:sequence>
  </xsd:complexType>
 </xsd:element>
 <xsd:complexType name="CallOfIncomingInvoiceEC.Create">
  <xsd:sequence>
   <xsd:element ref="IncomingInvoiceEC.Create"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="BAPI_ACC_C">
  <xsd:annotation>
   <xsd:documentation>Account Assignment (Create)</xsd:documentation>
  </xsd:annotation>
  <xsd:sequence>
   <xsd:element name="PARENT_GUID" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>GUID of higher-level sentence (header or item)</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="32"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="DISTR_PERC" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Distribution Percentage in the Case of Multiple Acct Assgt</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:decimal">
      <xsd:totalDigits value="5"/>
      <xsd:fractionDigits value="2"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="ACC_NO" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Sequential Account Assignment No. in EBP Purchase Document</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:pattern value="\d+"/>
      <xsd:maxLength value="4"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="G_L_ACCT" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>G/L account number</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="10"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="BUS_AREA" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Business Area</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="4"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="COST_CTR" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Cost Center</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="10"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="SD_DOC" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Sales and Distribution Document Number</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="10"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="SDOC_ITEM" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Sales Document Item</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:pattern value="\d+"/>
      <xsd:maxLength value="6"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="SCHED_LINE" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Schedule Line Number</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:pattern value="\d+"/>
      <xsd:maxLength value="4"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="ASSET_NO" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Main Asset Number</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="12"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="SUB_NUMBER" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Asset Subnumber</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="4"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="ORDER_NO" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Order Number</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="12"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="CO_AREA" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Controlling Area</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="4"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="PROFIT_CTR" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Profit center</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="10"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="WBS_ELEM_E" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Work Breakdown Structure Element (WBS element)</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="24"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="NETWORK" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Network Number for Account Assignment</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="12"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="ACTIVITY" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Activity Number</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="4"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="CMMT_ITEM" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Commitment Item</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="14"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="FUNDS_CTR" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Funds Center</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="16"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="FUND" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Fund</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="10"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="FUNC_AREA" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Functional Area</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="4"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="COST_OBJ" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Cost Object</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="12"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="ACC_CAT" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Account Assignment Category in Enterprise Buyer</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="5"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="BAPI_INV_HEADER_C">
  <xsd:annotation>
   <xsd:documentation>Header Data Invoice (Create)</xsd:documentation>
  </xsd:annotation>
  <xsd:sequence>
   <xsd:element name="BUSINESSPROCESS" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Technical Key of Business Transaction (Char32-GUID)</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="32"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="PROCESS_TYPE" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Business Transaction Type</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="4"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="DOC_NUMBER" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Document Number</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="10"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="DOC_DATE" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Document Date</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:pattern value="....-..-.."/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="DESCRIPTION" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Name of BBP Document</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="40"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="POSTING_DATE_FI" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Transaction Posting Date in Accounting</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:pattern value="....-..-.."/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="LOGSYS_FI" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Logical System of FI System</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="10"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="CO_CODE" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Company Code in FI System</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="4"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="CURRENCY" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Currency Key</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="5"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="CURRENCY_ISO" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>ISO Currency Code</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="3"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="REF_DOC_NO" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Reference Document Number</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="16"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="GROSS_AMOUNT" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Invoice Amount in Document Currency</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:decimal">
      <xsd:totalDigits value="23"/>
      <xsd:fractionDigits value="4"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="PMNTTRMS" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Terms of payment key</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="4"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="DSCNT1_TO" minOccurs="0">
    <xsd:simpleType>
     <xsd:restriction base="xsd:decimal">
      <xsd:totalDigits value="3"/>
      <xsd:fractionDigits value="0"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="DSCNT2_TO" minOccurs="0">
    <xsd:simpleType>
     <xsd:restriction base="xsd:decimal">
      <xsd:totalDigits value="3"/>
      <xsd:fractionDigits value="0"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="DSCNT3_TO" minOccurs="0">
    <xsd:simpleType>
     <xsd:restriction base="xsd:decimal">
      <xsd:totalDigits value="3"/>
      <xsd:fractionDigits value="0"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="CASH_DISC1" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Cash Discount Percentage 1</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:decimal">
      <xsd:totalDigits value="5"/>
      <xsd:fractionDigits value="3"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="CASH_DISC2" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Cash Discount Percentage 2</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:decimal">
      <xsd:totalDigits value="5"/>
      <xsd:fractionDigits value="3"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="INP_TYPE" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Creation Indictaor (Dialog, XML and so on)</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="REF_OBJECT_ID" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Reference Transaction Number</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="10"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="SUBTYPE" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Specification of a Purchasing Doc.(e.g. Credit Memo/Invoice)</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="NF_TYPE" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Nota Fiscal Type</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="PAYMENT_REF_NO" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Country Specific Payment Reference</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="30"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="REF_OBJECT_ID_SELLER" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Reference to an Invoice in the Seller System</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="16"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="BAPI_INV_ITEM_C">
  <xsd:annotation>
   <xsd:documentation>Item Invoice (Create)</xsd:documentation>
  </xsd:annotation>
  <xsd:sequence>
   <xsd:element name="ITEM_GUID" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Item Business Transaction (Char32 GUID)</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="32"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="ITEM_TYPE" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Item Category</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="4"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="ITEM_NUMBER" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Item number</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:pattern value="\d+"/>
      <xsd:maxLength value="10"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="DESCRIPTION" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Short text</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="40"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="PRODUCT_GUID" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Internal Unique Identifier of Product</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="32"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="PRODUCT_ID" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Product number</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="40"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="PRODUCT_TYPE" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Product Type</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="PARTNER_PROD" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Product Number of Vendor</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="40"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="MANU_PROD" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Manufacturer Part Number</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="40"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="MFR_NO_EXT" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>External manufacturer code name or number</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="10"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="CATALOGID" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Catalog ID from which the line was selected</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="20"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="CATALOGITEM" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Catalog Item (single key)</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="40"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="CATEGORY_GUID" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Product Category GUID</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="32"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="CATEGORY_ID" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Category ID</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="20"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="QUANTITY" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Quantity in Order Unit</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:decimal">
      <xsd:totalDigits value="13"/>
      <xsd:fractionDigits value="3"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="UNIT" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Order Unit</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="3"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="UNIT_ISO" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>ISO Code for Unit of Measurement</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="3"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="PRICE" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Net Price</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:decimal">
      <xsd:totalDigits value="23"/>
      <xsd:fractionDigits value="4"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="PRICE_UNIT" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Price unit</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:decimal">
      <xsd:totalDigits value="5"/>
      <xsd:fractionDigits value="0"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="VALUE" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Net Value</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:decimal">
      <xsd:totalDigits value="23"/>
      <xsd:fractionDigits value="4"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="TAX_CODE" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Tax on sales/purchases code</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="PO_NUMBER" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Purchase Order Number</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="10"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="PO_GUID" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Technical Key of Purchase Order</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="32"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="PO_ITEM_NUMBER" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Purchase Order Item Number</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:pattern value="\d+"/>
      <xsd:maxLength value="10"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="PO_ITEM_GUID" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Technical Key of Purchase Order Item</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="32"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="CONF_NUMBER" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Confirmation Number</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="10"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="CONF_GUID" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Technical Key of Confirmation</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="32"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="CONF_ITEM_NUMBER" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Number of Confirmation Item</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:pattern value="\d+"/>
      <xsd:maxLength value="10"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="CONF_ITEM_GUID" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Technical Key of Confirmation Item</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="32"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="PRODUCT_GTIN" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Global Trade Item Number (GTIN)</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="40"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="DCIND" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Debit/credit Indicator</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="CONF_REF_NO" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Reference Document Number</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="16"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="DELIVERY_DATE" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Document Date (Posting Date of Log. Business Transaction)</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:pattern value="....-..-.."/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="BAPI_BUP_C">
  <xsd:annotation>
   <xsd:documentation>Business Partner (Create)</xsd:documentation>
  </xsd:annotation>
  <xsd:sequence>
   <xsd:element name="PARTNER_FCT" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Partner Function</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="8"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="PARTNER_GUID" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Business Partner GUID</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="32"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="PARTNER" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Business Partner Number</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="10"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="MAINPARTNER" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Main Partner (For Ambiguous Partner Functions)</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="ADDR_TYPE" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Address type (1=Organization, 2=Person, 3=Contact person)</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="ADDR_ORIGIN" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Origin of a Partner Address</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="TITLE_P" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Title text</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="30"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="FIRSTNAME" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>First name</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="40"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="LASTNAME" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Last name</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="40"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="BIRTH_NAME" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Name of person at birth</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="40"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="MIDDLENAME" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Middle name or second forename of a person</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="40"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="SECONDNAME" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Second surname of a person</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="40"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="FULLNAME" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Complete personal name</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="80"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="FULLNAME_X" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>NAME_TEXT field status</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="TITLE_ACA1" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Academic Title: Written Form</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="20"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="TITLE_ACA2" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Academic Title: Written Form</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="20"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="PREFIX1" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Name prefix</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="20"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="PREFIX2" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Name prefix</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="20"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="TITLE_SPPL" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Name supplement, e.g. noble title (written form)</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="20"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="NICKNAME" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Nickname or name used</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="40"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="INITIALS" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>&quot;Middle Initial&quot; or personal initials</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="10"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="NAMEFORMAT" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Name format</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="NAMCOUNTRY" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Country for name format rule</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="3"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="LANGU_P" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Language key</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="LANGUP_ISO" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Language according to ISO 639</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="SORT1_P" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Search term 1</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="20"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="SORT2_P" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Search term 2</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="20"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="DEPARTMENT" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Department</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="40"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="FUNCTION" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Function</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="40"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="BUILDING_P" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Building (number or code)</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="10"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="FLOOR_P" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Floor in building</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="10"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="ROOM_NO_P" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Room or appartment number</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="10"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="INITS_SIG" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Short name for correspondence</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="10"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="INHOUSE_ML" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Int. mail postal code</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="10"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="COMM_TYPE" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Communication Method (Key) (Business Address Services)</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="3"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="TITLE" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Title text</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="30"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="NAME" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Name 1</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="40"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="NAME_2" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Name 2</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="40"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="NAME_3" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Name 3</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="40"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="NAME_4" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Name 4</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="40"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="C_O_NAME" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>c/o name</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="40"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="CITY" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>City</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="40"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="DISTRICT" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>District</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="40"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="CITY_NO" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>City code for city/street file</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="12"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="DISTRCT_NO" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>District code for City and Street file</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="8"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="CHCKSTATUS" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>City file test status</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="POSTL_COD1" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>City Postal Code</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="10"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="POSTL_COD2" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>PO Box postal code</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="10"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="POSTL_COD3" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Company postal code (for large customers)</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="10"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="PO_BOX" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>PO Box</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="10"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="PO_BOX_CIT" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>PO Box city</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="40"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="PBOXCIT_NO" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>City PO box code (City file)</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="12"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="DELIV_DIS" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Post delivery district</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="15"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="TRANSPZONE" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Transportation zone to or from which the goods are delivered</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="10"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="STREET" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Street</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="60"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="STREET_NO" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Street code for city/street file</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="12"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="STR_ABBR" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Abbreviation of street name (e.g in Spain)</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="HOUSE_NO" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>House number</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="10"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="HOUSE_NO2" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>House number supplement</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="10"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="STR_SUPPL1" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Street 2</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="40"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="STR_SUPPL2" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Street 3</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="40"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="STR_SUPPL3" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Street 4</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="40"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="LOCATION" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Street 5</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="40"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="BUILDING" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>old: building (no. or abbreviation)</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="10"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="FLOOR" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Floor in building</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="10"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="ROOM_NO" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Room or appartment number</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="10"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="COUNTRY" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Country key</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="3"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="COUNTRYISO" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Country ISO code</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="LANGU" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Language key</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="LANGU_ISO" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Language according to ISO 639</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="REGION" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Region (State, Province, County)</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="3"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="SORT1" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Search term 1</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="20"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="SORT2" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Search term 2</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="20"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="TIME_ZONE" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Address time zone</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="6"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="TAXJURCODE" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Tax jurisdiction code</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="15"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="ADR_NOTES" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Address notes</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="50"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="TEL1_NUMBR" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>First telephone no.: dialling code+number</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="30"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="TEL1_EXT" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>First telephone no.: extension</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="10"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="FAX_NUMBER" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>First fax no.: dialling code+number</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="30"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="FAX_EXTENS" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>First fax no.: extension</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="10"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="E_MAIL" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Internet mail (SMTP) address</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="241"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="BUILD_LONG" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Building (number or code)</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="20"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="EXT_PARTNER_PFT" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Partner Function Category - External Identification</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="4"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="EXT_BU_ID_CAT" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>BP - Identification Category - External Identification</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="6"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="EXT_BU_ID" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Identification Number</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="60"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="VEND_PARTNER_ID" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Vendor&apos;s Partner ID</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="40"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="BAPI_IVSHP_C">
  <xsd:annotation>
   <xsd:documentation>Freight Costs Invoice (Create)</xsd:documentation>
  </xsd:annotation>
  <xsd:sequence>
   <xsd:element name="AMOUNT" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Amount</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:decimal">
      <xsd:totalDigits value="23"/>
      <xsd:fractionDigits value="4"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="TAX_CODE" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Tax on sales/purchases code</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="BAPI_IVTAX_C">
  <xsd:annotation>
   <xsd:documentation>Taxes Invoice (Create)</xsd:documentation>
  </xsd:annotation>
  <xsd:sequence>
   <xsd:element name="TAX_CODE" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Tax on sales/purchases code</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="TAX_AMOUNT" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Amount</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:decimal">
      <xsd:totalDigits value="23"/>
      <xsd:fractionDigits value="4"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="BAPI_TEXT_I">
  <xsd:annotation>
   <xsd:documentation>BAPI Structure for Long Text</xsd:documentation>
  </xsd:annotation>
  <xsd:sequence>
   <xsd:element name="PARENT_GUID" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>GUID of higher-level sentence (header or item)</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="32"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="TEXT_ID" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Text ID</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="4"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="TEXT_LINE" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Text line</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="132"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
  </xsd:sequence>
 </xsd:complexType>
</xsd:schema>
