src/tests/xml/MasterTestSuite/schema/modelGroupDefinition/ModelGroupDef2.xsd

<?xml version='1.0' encoding='UTF-8' ?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.castor.org/tests/ModelGroupDef/" >
           
   <xsd:group name="foo1">
       <xsd:sequence>
           <xsd:group ref='foo2'/>
           <xsd:element name='toto' type='xsd:string'/>
       </xsd:sequence>
   </xsd:group>
   
   <xsd:group name="foo2">
       <xsd:sequence>
           <xsd:element name='tata' type='xsd:string'/>
           <xsd:group ref='foo1'/>
       </xsd:sequence>
   </xsd:group>
</xsd:schema>