trunk/codegen-testcase-archetype/src/main/resources/archetype-resources/src/test/resources/org/castor/xml/builder/test/test.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="sampleElement">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="first" type="xs:integer" />
        <xs:element name="second" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
