castor/trunk/src/tests/xml/MasterTestSuite/sourcegenerator/J2Collections/set/test.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:element name="root" type="rootType" />

	<xs:complexType name="rootType">
		<xs:sequence>
			<xs:element name="list" type="xs:string" minOccurs="1"
				maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

</xs:schema>
