castor/tags/castor-1.3.2/xmlctf/tests/MasterTestSuite/sourcegenerator/generationOnly/NameCollisions/javaLang/complexType/test.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">

    <xs:element name="test" type="interruptedException"/>

    <xs:complexType name="interruptedException">
        <xs:sequence>
            <xs:element name="complexElement" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
