trunk/xmlctf/tests/MasterTestSuite/schema/Castor_test_collection/TestForSchemaElement_08.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

   <!-- Test for schema element with attributeGroup declarations(s) -->
   <!--
        Please see TestsForAttributeGroupElement_** for more complex tests
        regarding attributeGroup declarations
    -->

   <!-- basic attributeGroup declaration -->
   <xsd:attributeGroup name="attGroup1">
      <xsd:attribute name="attr1" type="xsd:integer"/>
      <xsd:attribute name="attr2" type="xsd:boolean"/>
      <xsd:attribute name="attr3" type="xsd:string"/>
   </xsd:attributeGroup>

</xsd:schema>
