castor/branches/castor-ase-09/xmlctf/tests/MasterTestSuite/sourcegenerator/generationOnly/NameCollisions/javaLang/complexTypeAndMapping/test2/test.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">

    <xs:element name="exception" type="xs:string"/>

    <xs:complexType name="interruptedException">
        <xs:sequence>
            <xs:element ref="class" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="class" type="xs:string"/>

</xs:schema>
