trunk/xmlctf/tests/MasterTestSuite/sourcegenerator/type-binding/test01/test.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="urn:test:namespace"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">

    <xsd:complexType name="Test1Type">
        <xsd:sequence>
            <xsd:element name="Test2">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Test3" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
