castor/src/tests/xml/MasterTestSuite/schema/Castor test collection/TestForElementDecl_11.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://www.castor.org/Test"
            xmlns:cst="http://www.castor.org/Test"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">

   <!-- Test for element declaration with block attribute -->
   <xsd:element name="elem1" block="#all"/>

   <xsd:element name="elem2" block="extension"/>

   <xsd:element name="elem3" block="restriction"/>

</xsd:schema>
