castor/tags/tag_begin_ldap_work/castor/src/tests/xml/MasterTestSuite/schema/SAP_EBP/AccAssignmentCategor.Loaddata_response.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="urn:sap-com:document:sap:business" targetNamespace="urn:sap-com:document:sap:business" version="1.0">
 <xsd:element name="AccAssignmentCategor.Loaddata.Response">
  <xsd:annotation>
   <xsd:documentation>Update Accounting Data in the Standalone Scenario</xsd:documentation>
  </xsd:annotation>
  <xsd:complexType>
   <xsd:sequence>
    <xsd:element name="Return" minOccurs="0">
     <xsd:annotation>
      <xsd:documentation>Return parameter</xsd:documentation>
     </xsd:annotation>
     <xsd:complexType>
      <xsd:sequence>
       <xsd:element name="item" type="BAPIRET2" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
     </xsd:complexType>
    </xsd:element>
   </xsd:sequence>
  </xsd:complexType>
 </xsd:element>
 <xsd:element name="AccAssignmentCategor.Loaddata.Exception">
  <xsd:complexType>
   <xsd:sequence>
    <xsd:element name="Name">
     <xsd:simpleType>
      <xsd:restriction base="xsd:string">
       <xsd:enumeration value="BapiError"/>
       <xsd:enumeration value="BapiAbort"/>
      </xsd:restriction>
     </xsd:simpleType>
    </xsd:element>
    <xsd:element name="Message" minOccurs="0">
     <xsd:complexType>
      <xsd:sequence>
       <xsd:element name="ID">
        <xsd:annotation>
         <xsd:documentation>Messages, Message Class</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
         <xsd:restriction base="xsd:string">
          <xsd:maxLength value="20"/>
         </xsd:restriction>
        </xsd:simpleType>
       </xsd:element>
       <xsd:element name="Number">
        <xsd:annotation>
         <xsd:documentation>Messages, Message Number</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
         <xsd:restriction base="xsd:string">
          <xsd:pattern value="\d+"/>
          <xsd:maxLength value="3"/>
         </xsd:restriction>
        </xsd:simpleType>
       </xsd:element>
       <xsd:element name="Text" minOccurs="0" type="xsd:string"/>
      </xsd:sequence>
     </xsd:complexType>
    </xsd:element>
    <xsd:element name="Attributes">
     <xsd:complexType>
      <xsd:sequence>
       <xsd:element name="Collection">
        <xsd:complexType>
         <xsd:sequence>
          <xsd:element name="item" maxOccurs="unbounded">
           <xsd:complexType>
            <xsd:sequence>
             <xsd:element name="Name">
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:enumeration value="BapiError"/>
                <xsd:enumeration value="BapiAbort"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="Message" minOccurs="0">
              <xsd:complexType>
               <xsd:sequence>
                <xsd:element name="ID">
                 <xsd:annotation>
                  <xsd:documentation>Messages, Message Class</xsd:documentation>
                 </xsd:annotation>
                 <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                   <xsd:maxLength value="20"/>
                  </xsd:restriction>
                 </xsd:simpleType>
                </xsd:element>
                <xsd:element name="Number">
                 <xsd:annotation>
                  <xsd:documentation>Messages, Message Number</xsd:documentation>
                 </xsd:annotation>
                 <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                   <xsd:pattern value="\d+"/>
                   <xsd:maxLength value="3"/>
                  </xsd:restriction>
                 </xsd:simpleType>
                </xsd:element>
                <xsd:element name="Text" minOccurs="0" type="xsd:string"/>
               </xsd:sequence>
              </xsd:complexType>
             </xsd:element>
             <xsd:element name="Attributes" minOccurs="0">
              <xsd:complexType>
               <xsd:sequence>
                <xsd:element name="MESSAGE_V1" minOccurs="0">
                 <xsd:annotation>
                  <xsd:documentation>Messages, message variables</xsd:documentation>
                 </xsd:annotation>
                 <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                   <xsd:maxLength value="50"/>
                  </xsd:restriction>
                 </xsd:simpleType>
                </xsd:element>
                <xsd:element name="MESSAGE_V2" minOccurs="0">
                 <xsd:annotation>
                  <xsd:documentation>Messages, message variables</xsd:documentation>
                 </xsd:annotation>
                 <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                   <xsd:maxLength value="50"/>
                  </xsd:restriction>
                 </xsd:simpleType>
                </xsd:element>
                <xsd:element name="MESSAGE_V3" minOccurs="0">
                 <xsd:annotation>
                  <xsd:documentation>Messages, message variables</xsd:documentation>
                 </xsd:annotation>
                 <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                   <xsd:maxLength value="50"/>
                  </xsd:restriction>
                 </xsd:simpleType>
                </xsd:element>
                <xsd:element name="MESSAGE_V4" minOccurs="0">
                 <xsd:annotation>
                  <xsd:documentation>Messages, message variables</xsd:documentation>
                 </xsd:annotation>
                 <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                   <xsd:maxLength value="50"/>
                  </xsd:restriction>
                 </xsd:simpleType>
                </xsd:element>
                <xsd:element name="LOG_NO" minOccurs="0">
                 <xsd:annotation>
                  <xsd:documentation>Application log: log number</xsd:documentation>
                 </xsd:annotation>
                 <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                   <xsd:maxLength value="20"/>
                  </xsd:restriction>
                 </xsd:simpleType>
                </xsd:element>
                <xsd:element name="LOG_MSG_NO" minOccurs="0">
                 <xsd:annotation>
                  <xsd:documentation>Application log: Internal message serial number</xsd:documentation>
                 </xsd:annotation>
                 <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                   <xsd:pattern value="\d+"/>
                   <xsd:maxLength value="6"/>
                  </xsd:restriction>
                 </xsd:simpleType>
                </xsd:element>
                <xsd:element name="PARAMETER" minOccurs="0">
                 <xsd:annotation>
                  <xsd:documentation>Parameter name</xsd:documentation>
                 </xsd:annotation>
                 <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                   <xsd:maxLength value="32"/>
                  </xsd:restriction>
                 </xsd:simpleType>
                </xsd:element>
                <xsd:element name="ROW" minOccurs="0" type="xsd:int">
                 <xsd:annotation>
                  <xsd:documentation>Lines in parameter</xsd:documentation>
                 </xsd:annotation>
                </xsd:element>
                <xsd:element name="FIELD" minOccurs="0">
                 <xsd:annotation>
                  <xsd:documentation>Field in parameter</xsd:documentation>
                 </xsd:annotation>
                 <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                   <xsd:maxLength value="30"/>
                  </xsd:restriction>
                 </xsd:simpleType>
                </xsd:element>
                <xsd:element name="SYSTEM" minOccurs="0">
                 <xsd:annotation>
                  <xsd:documentation>Logical system from which message originates</xsd:documentation>
                 </xsd:annotation>
                 <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                   <xsd:maxLength value="10"/>
                  </xsd:restriction>
                 </xsd:simpleType>
                </xsd:element>
               </xsd:sequence>
              </xsd:complexType>
             </xsd:element>
            </xsd:sequence>
           </xsd:complexType>
          </xsd:element>
         </xsd:sequence>
        </xsd:complexType>
       </xsd:element>
       <xsd:element name="Status">
        <xsd:complexType>
         <xsd:sequence>
          <xsd:element name="item" maxOccurs="unbounded" type="BAPIRET2"/>
         </xsd:sequence>
        </xsd:complexType>
       </xsd:element>
      </xsd:sequence>
     </xsd:complexType>
    </xsd:element>
   </xsd:sequence>
  </xsd:complexType>
 </xsd:element>
 <xsd:complexType name="ResponseOfAccAssignmentCategor.Loaddata">
  <xsd:choice>
   <xsd:element ref="AccAssignmentCategor.Loaddata.Response"/>
   <xsd:element ref="AccAssignmentCategor.Loaddata.Exception"/>
  </xsd:choice>
 </xsd:complexType>
 <xsd:complexType name="BAPIRET2">
  <xsd:annotation>
   <xsd:documentation>Return parameter</xsd:documentation>
  </xsd:annotation>
  <xsd:sequence>
   <xsd:element name="TYPE" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Message type: S Success, E Error, W Warning, I Info, A Abort</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="ID" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Messages, Message Class</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="20"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="NUMBER" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Messages, Message Number</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:pattern value="\d+"/>
      <xsd:maxLength value="3"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="MESSAGE" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Message text</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="220"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="LOG_NO" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Application log: log number</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="20"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="LOG_MSG_NO" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Application log: Internal message serial number</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:pattern value="\d+"/>
      <xsd:maxLength value="6"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="MESSAGE_V1" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Messages, message variables</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="50"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="MESSAGE_V2" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Messages, message variables</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="50"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="MESSAGE_V3" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Messages, message variables</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="50"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="MESSAGE_V4" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Messages, message variables</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="50"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="PARAMETER" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Parameter name</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="32"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="ROW" minOccurs="0" type="xsd:int">
    <xsd:annotation>
     <xsd:documentation>Lines in parameter</xsd:documentation>
    </xsd:annotation>
   </xsd:element>
   <xsd:element name="FIELD" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Field in parameter</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="30"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="SYSTEM" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Logical system from which message originates</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="10"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
  </xsd:sequence>
 </xsd:complexType>
</xsd:schema>
