castor/trunk/src/tests/xml/MasterTestSuite/sourcegenerator/Binding/enumBinding/test.xsd

<xs:schema xmlns:xs='http://www.w3.org/2001/XMLSchema'>

	<xs:element name='processDefinition'>
		<xs:complexType>
			<xs:sequence>
				<xs:element name='durUnit'>
					<xs:simpleType>
						<xs:restriction base='xs:string'>
							<xs:enumeration value='Y' />
							<xs:enumeration value='M' />
							<xs:enumeration value='D' />
							<xs:enumeration value='h' />
							<xs:enumeration value='m' />
							<xs:enumeration value='s' />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name='name' />
			<xs:attribute name='description' />
		</xs:complexType>
	</xs:element>

</xs:schema>