castor/tags/1.1.2/xmlctf/tests/RegressionTestSuite/sourcegenerator/NMTOKENS/NMTOKENS.xsd

<?xml version='1.0'?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
     <xsd:element name="Test_NMTOKENS">
          <xsd:complexType>
               <xsd:sequence>
                    <xsd:element name="foo" type="xsd:NMTOKENS"/>
               </xsd:sequence>
               <xsd:attribute name="bar" type="xsd:NMTOKENS"/>
          </xsd:complexType>
     </xsd:element>
</xsd:schema>