castor/tags/1.2/trunk/xmlctf/tests/MasterTestSuite/schema/redefine/TestForRedefine_error7.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
	wrong group redefinition
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		targetNamespace="foo" xmlns="foo"
		elementFormDefault="qualified">
	
	<xsd:redefine schemaLocation="xsd003.xsdmod">
		
		<xsd:group name="groupFoo">
			<xsd:sequence>
				<xsd:element name="in" />
				<xsd:element name="out" />
			</xsd:sequence>
		</xsd:group>
		
	</xsd:redefine>
	
</xsd:schema>
