castor/trunk/xmlctf/tests/MasterTestSuite/sourcegenerator/generationOnly/facets/minInclusive-minExclusive/test.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

<!--
4.3.9.4 Constraints on minExclusive Schema Components
  Schema Component Constraint: minInclusive and minExclusive
    It is an error for both minInclusive and minExclusive
    to be specified for the same datatype.

http://www.w3.org/TR/xmlschema-2/#minInclusive-minExclusive
-->

	<xsd:simpleType name="st1">
		<xsd:restriction base="xsd:long">
			<xsd:minExclusive value="0"/>
			<xsd:minInclusive value="0"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:complexType name="ct1">
		<xsd:attribute name="a1" type="st1" use="optional"/>
	</xsd:complexType>

</xsd:schema>
