castor/tags/castor-1.3.3-rc1/schema/src/test/resources/org/castor/xml/schema/writer/complextype_choiceattribute.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:pre="my.namespace.org">
   <complexType name="myType">
      <choice>
         <element name="myAttr" />
         <element name="myAttr3" />
         <element name="myAttr2" />
      </choice>
   </complexType>
</schema>
