castor/tags/1.3rc1/xmlctf/tests/MasterTestSuite/schema/SAP_EBP/IncomingInvoiceEC_response.Create.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="urn:sap-com:document:sap:business" targetNamespace="urn:sap-com:document:sap:business" version="1.0">
 <xsd:element name="IncomingInvoiceEC.Create.Response">
  <xsd:annotation>
   <xsd:documentation>Create Invoice</xsd:documentation>
  </xsd:annotation>
  <xsd:complexType>
   <xsd:sequence>
    <xsd:element name="EInvAccass" minOccurs="0">
     <xsd:annotation>
      <xsd:documentation>Account Assignment of Created Invoice</xsd:documentation>
     </xsd:annotation>
     <xsd:complexType>
      <xsd:sequence>
       <xsd:element name="item" type="BAPI_ACC_D" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
     </xsd:complexType>
    </xsd:element>
    <xsd:element name="EInvHeader" minOccurs="0" type="BAPI_INV_HEADER_D">
     <xsd:annotation>
      <xsd:documentation>Header Data of Created Invoice</xsd:documentation>
     </xsd:annotation>
    </xsd:element>
    <xsd:element name="EInvItems" minOccurs="0">
     <xsd:annotation>
      <xsd:documentation>Item Data of Created Invoice</xsd:documentation>
     </xsd:annotation>
     <xsd:complexType>
      <xsd:sequence>
       <xsd:element name="item" type="BAPI_INV_ITEM_D" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
     </xsd:complexType>
    </xsd:element>
    <xsd:element name="Return" minOccurs="0">
     <xsd:annotation>
      <xsd:documentation>Return Parameters</xsd:documentation>
     </xsd:annotation>
     <xsd:complexType>
      <xsd:sequence>
       <xsd:element name="item" type="BAPIRET2" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
     </xsd:complexType>
    </xsd:element>
   </xsd:sequence>
  </xsd:complexType>
 </xsd:element>
 <xsd:element name="IncomingInvoiceEC.Create.Exception">
  <xsd:complexType>
   <xsd:sequence>
    <xsd:element name="Name">
     <xsd:simpleType>
      <xsd:restriction base="xsd:string">
       <xsd:enumeration value="BapiError"/>
       <xsd:enumeration value="BapiAbort"/>
      </xsd:restriction>
     </xsd:simpleType>
    </xsd:element>
    <xsd:element name="Message" minOccurs="0">
     <xsd:complexType>
      <xsd:sequence>
       <xsd:element name="ID">
        <xsd:annotation>
         <xsd:documentation>Messages, Message Class</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
         <xsd:restriction base="xsd:string">
          <xsd:maxLength value="20"/>
         </xsd:restriction>
        </xsd:simpleType>
       </xsd:element>
       <xsd:element name="Number">
        <xsd:annotation>
         <xsd:documentation>Messages, Message Number</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
         <xsd:restriction base="xsd:string">
          <xsd:pattern value="\d+"/>
          <xsd:maxLength value="3"/>
         </xsd:restriction>
        </xsd:simpleType>
       </xsd:element>
       <xsd:element name="Text" minOccurs="0" type="xsd:string"/>
      </xsd:sequence>
     </xsd:complexType>
    </xsd:element>
    <xsd:element name="Attributes">
     <xsd:complexType>
      <xsd:sequence>
       <xsd:element name="Collection">
        <xsd:complexType>
         <xsd:sequence>
          <xsd:element name="item" maxOccurs="unbounded">
           <xsd:complexType>
            <xsd:sequence>
             <xsd:element name="Name">
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:enumeration value="BapiError"/>
                <xsd:enumeration value="BapiAbort"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="Message" minOccurs="0">
              <xsd:complexType>
               <xsd:sequence>
                <xsd:element name="ID">
                 <xsd:annotation>
                  <xsd:documentation>Messages, Message Class</xsd:documentation>
                 </xsd:annotation>
                 <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                   <xsd:maxLength value="20"/>
                  </xsd:restriction>
                 </xsd:simpleType>
                </xsd:element>
                <xsd:element name="Number">
                 <xsd:annotation>
                  <xsd:documentation>Messages, Message Number</xsd:documentation>
                 </xsd:annotation>
                 <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                   <xsd:pattern value="\d+"/>
                   <xsd:maxLength value="3"/>
                  </xsd:restriction>
                 </xsd:simpleType>
                </xsd:element>
                <xsd:element name="Text" minOccurs="0" type="xsd:string"/>
               </xsd:sequence>
              </xsd:complexType>
             </xsd:element>
             <xsd:element name="Attributes" minOccurs="0">
              <xsd:complexType>
               <xsd:sequence>
                <xsd:element name="MESSAGE_V1" minOccurs="0">
                 <xsd:annotation>
                  <xsd:documentation>Messages, message variables</xsd:documentation>
                 </xsd:annotation>
                 <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                   <xsd:maxLength value="50"/>
                  </xsd:restriction>
                 </xsd:simpleType>
                </xsd:element>
                <xsd:element name="MESSAGE_V2" minOccurs="0">
                 <xsd:annotation>
                  <xsd:documentation>Messages, message variables</xsd:documentation>
                 </xsd:annotation>
                 <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                   <xsd:maxLength value="50"/>
                  </xsd:restriction>
                 </xsd:simpleType>
                </xsd:element>
                <xsd:element name="MESSAGE_V3" minOccurs="0">
                 <xsd:annotation>
                  <xsd:documentation>Messages, message variables</xsd:documentation>
                 </xsd:annotation>
                 <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                   <xsd:maxLength value="50"/>
                  </xsd:restriction>
                 </xsd:simpleType>
                </xsd:element>
                <xsd:element name="MESSAGE_V4" minOccurs="0">
                 <xsd:annotation>
                  <xsd:documentation>Messages, message variables</xsd:documentation>
                 </xsd:annotation>
                 <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                   <xsd:maxLength value="50"/>
                  </xsd:restriction>
                 </xsd:simpleType>
                </xsd:element>
                <xsd:element name="LOG_NO" minOccurs="0">
                 <xsd:annotation>
                  <xsd:documentation>Application log: log number</xsd:documentation>
                 </xsd:annotation>
                 <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                   <xsd:maxLength value="20"/>
                  </xsd:restriction>
                 </xsd:simpleType>
                </xsd:element>
                <xsd:element name="LOG_MSG_NO" minOccurs="0">
                 <xsd:annotation>
                  <xsd:documentation>Application log: Internal message serial number</xsd:documentation>
                 </xsd:annotation>
                 <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                   <xsd:pattern value="\d+"/>
                   <xsd:maxLength value="6"/>
                  </xsd:restriction>
                 </xsd:simpleType>
                </xsd:element>
                <xsd:element name="PARAMETER" minOccurs="0">
                 <xsd:annotation>
                  <xsd:documentation>Parameter name</xsd:documentation>
                 </xsd:annotation>
                 <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                   <xsd:maxLength value="32"/>
                  </xsd:restriction>
                 </xsd:simpleType>
                </xsd:element>
                <xsd:element name="ROW" minOccurs="0" type="xsd:int">
                 <xsd:annotation>
                  <xsd:documentation>Lines in parameter</xsd:documentation>
                 </xsd:annotation>
                </xsd:element>
                <xsd:element name="FIELD" minOccurs="0">
                 <xsd:annotation>
                  <xsd:documentation>Field in parameter</xsd:documentation>
                 </xsd:annotation>
                 <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                   <xsd:maxLength value="30"/>
                  </xsd:restriction>
                 </xsd:simpleType>
                </xsd:element>
                <xsd:element name="SYSTEM" minOccurs="0">
                 <xsd:annotation>
                  <xsd:documentation>Logical system from which message originates</xsd:documentation>
                 </xsd:annotation>
                 <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                   <xsd:maxLength value="10"/>
                  </xsd:restriction>
                 </xsd:simpleType>
                </xsd:element>
               </xsd:sequence>
              </xsd:complexType>
             </xsd:element>
            </xsd:sequence>
           </xsd:complexType>
          </xsd:element>
         </xsd:sequence>
        </xsd:complexType>
       </xsd:element>
       <xsd:element name="Status">
        <xsd:complexType>
         <xsd:sequence>
          <xsd:element name="item" maxOccurs="unbounded" type="BAPIRET2"/>
         </xsd:sequence>
        </xsd:complexType>
       </xsd:element>
      </xsd:sequence>
     </xsd:complexType>
    </xsd:element>
   </xsd:sequence>
  </xsd:complexType>
 </xsd:element>
 <xsd:complexType name="ResponseOfIncomingInvoiceEC.Create">
  <xsd:choice>
   <xsd:element ref="IncomingInvoiceEC.Create.Response"/>
   <xsd:element ref="IncomingInvoiceEC.Create.Exception"/>
  </xsd:choice>
 </xsd:complexType>
 <xsd:complexType name="BAPI_ACC_D">
  <xsd:annotation>
   <xsd:documentation>Account Assignment (GetDetail)</xsd:documentation>
  </xsd:annotation>
  <xsd:sequence>
   <xsd:element name="GUID" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Internal Key of Data Record (Global Unique Identifier)</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="32"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="PARENT_GUID" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>GUID of higher-level sentence (header or item)</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="32"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="DISTR_PERC" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Distribution Percentage in the Case of Multiple Acct Assgt</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:decimal">
      <xsd:totalDigits value="5"/>
      <xsd:fractionDigits value="2"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="ACC_NO" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Sequential Account Assignment No. in EBP Purchase Document</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:pattern value="\d+"/>
      <xsd:maxLength value="4"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="G_L_ACCT" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>G/L account number</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="10"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="BUS_AREA" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Business Area</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="4"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="COST_CTR" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Cost Center</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="10"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="SD_DOC" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Sales and Distribution Document Number</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="10"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="SDOC_ITEM" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Sales Document Item</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:pattern value="\d+"/>
      <xsd:maxLength value="6"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="SCHED_LINE" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Schedule Line Number</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:pattern value="\d+"/>
      <xsd:maxLength value="4"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="ASSET_NO" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Main Asset Number</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="12"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="SUB_NUMBER" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Asset Subnumber</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="4"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="ORDER_NO" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Order Number</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="12"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="CO_AREA" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Controlling Area</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="4"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="PROFIT_CTR" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Profit center</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="10"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="WBS_ELEM_E" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Work Breakdown Structure Element (WBS element)</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="24"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="NETWORK" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Network Number for Account Assignment</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="12"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="ACTIVITY" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Activity Number</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="4"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="CMMT_ITEM" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Commitment Item</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="14"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="FUNDS_CTR" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Funds Center</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="16"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="FUND" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Fund</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="10"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="FUNC_AREA" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Functional Area</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="4"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="COST_OBJ" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Cost Object</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="12"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="ACC_CAT" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Account Assignment Category in Enterprise Buyer</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="5"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="BAPI_INV_HEADER_D">
  <xsd:annotation>
   <xsd:documentation>Header Data Invoice (GetDetail)</xsd:documentation>
  </xsd:annotation>
  <xsd:sequence>
   <xsd:element name="BUSINESSPROCESS" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Technical Key of Business Transaction (Char32-GUID)</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="32"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="PROCESS_TYPE" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Business Transaction Type</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="4"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="DOC_NUMBER" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Document Number</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="10"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="DOC_DATE" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Document Date</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:pattern value="....-..-.."/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="POSTING_DATE_FI" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Transaction Posting Date in Accounting</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:pattern value="....-..-.."/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="DESCRIPTION" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Name of BBP Document</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="40"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="LOGICAL_SYSTEM" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Logical System</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="10"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="LOGSYS_FI" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Logical System of FI System</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="10"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="CO_CODE" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Company Code in FI System</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="4"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="CURRENCY" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Currency Key</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="5"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="CURRENCY_ISO" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>ISO Currency Code</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="3"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="REF_DOC_NO" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Reference Document Number</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="16"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="GROSS_AMOUNT" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Invoice Amount in Document Currency</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:decimal">
      <xsd:totalDigits value="23"/>
      <xsd:fractionDigits value="4"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="PMNTTRMS" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Terms of payment key</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="4"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="DSCNT1_TO" minOccurs="0">
    <xsd:simpleType>
     <xsd:restriction base="xsd:decimal">
      <xsd:totalDigits value="3"/>
      <xsd:fractionDigits value="0"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="DSCNT2_TO" minOccurs="0">
    <xsd:simpleType>
     <xsd:restriction base="xsd:decimal">
      <xsd:totalDigits value="3"/>
      <xsd:fractionDigits value="0"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="DSCNT3_TO" minOccurs="0">
    <xsd:simpleType>
     <xsd:restriction base="xsd:decimal">
      <xsd:totalDigits value="3"/>
      <xsd:fractionDigits value="0"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="CASH_DISC1" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Cash Discount Percentage 1</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:decimal">
      <xsd:totalDigits value="5"/>
      <xsd:fractionDigits value="3"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="CASH_DISC2" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Cash Discount Percentage 2</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:decimal">
      <xsd:totalDigits value="5"/>
      <xsd:fractionDigits value="3"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="INP_TYPE" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Creation Indictaor (Dialog, XML and so on)</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="CREATED_BY" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Name of Person who Created the Object</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="12"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="CREATED_AT" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Creation Date of Document</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:pattern value="....-..-.."/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="CHANGED_BY" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Name of Person Responsible for Changing Object</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="12"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="CHANGED_AT" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Date of Last Change to Document</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:pattern value="....-..-.."/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="BE_LOG_SYSTEM" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Log System of Logistic Backend (for non-local invoices)</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="10"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="REF_OBJECT_ID" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Reference Transaction Number</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="10"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="SUBTYPE" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Specification of a Purchasing Doc.(e.g. Credit Memo/Invoice)</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="NF_TYPE" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Nota Fiscal Type</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="PAYMENT_REF_NO" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Country Specific Payment Reference</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="30"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="BAPI_INV_ITEM_D">
  <xsd:annotation>
   <xsd:documentation>Item Invoice (GetDetail)</xsd:documentation>
  </xsd:annotation>
  <xsd:sequence>
   <xsd:element name="ITEM_GUID" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Item Business Transaction (Char32 GUID)</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="32"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="ITEM_TYPE" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Item Category</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="4"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="ITEM_NUMBER" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Item number</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:pattern value="\d+"/>
      <xsd:maxLength value="10"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="BUSINESSPROCESS" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Technical Key of Business Transaction (Char32-GUID)</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="32"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="DESCRIPTION" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Short text</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="40"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="PRODUCT_GUID" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Internal Unique Identifier of Product</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="32"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="PRODUCT_ID" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Product number</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="40"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="PRODUCT_TYPE" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Product Type</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="PARTNER_PROD" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Product Number of Vendor</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="40"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="MANU_PROD" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Manufacturer Part Number</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="40"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="MFR_NO_EXT" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>External manufacturer code name or number</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="10"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="CATALOGID" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Catalog ID from which the line was selected</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="20"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="CATALOGITEM" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Catalog Item (single key)</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="40"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="CATEGORY_GUID" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Product Category GUID</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="32"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="CATEGORY_ID" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Category ID</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="20"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="DEL_IND" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Deletion Indicator EBP Purchasing Document</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="QUANTITY" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Quantity in Order Unit</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:decimal">
      <xsd:totalDigits value="13"/>
      <xsd:fractionDigits value="3"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="UNIT" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Order Unit</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="3"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="UNIT_ISO" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>ISO Code for Unit of Measurement</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="3"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="PRICE" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Net Price</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:decimal">
      <xsd:totalDigits value="23"/>
      <xsd:fractionDigits value="4"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="PRICE_UNIT" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Price unit</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:decimal">
      <xsd:totalDigits value="5"/>
      <xsd:fractionDigits value="0"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="VALUE" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Net Value</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:decimal">
      <xsd:totalDigits value="23"/>
      <xsd:fractionDigits value="4"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="TAX_CODE" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Tax on sales/purchases code</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="PO_NUMBER" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Purchase Order Number</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="10"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="PO_GUID" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Technical Key of Purchase Order</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="32"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="PO_ITEM_NUMBER" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Purchase Order Item Number</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:pattern value="\d+"/>
      <xsd:maxLength value="10"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="PO_ITEM_GUID" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Technical Key of Purchase Order Item</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="32"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="CONF_NUMBER" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Confirmation Number</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="10"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="CONF_GUID" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Technical Key of Confirmation</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="32"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="CONF_ITEM_NUMBER" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Number of Confirmation Item</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:pattern value="\d+"/>
      <xsd:maxLength value="10"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="CONF_ITEM_GUID" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Technical Key of Confirmation Item</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="32"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="PRODUCT_GTIN" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Global Trade Item Number (GTIN)</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="40"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="DCIND" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Debit/credit Indicator</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="CONF_REF_NO" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Reference Document Number</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="16"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="DELIVERY_DATE" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Document Date (Posting Date of Log. Business Transaction)</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:pattern value="....-..-.."/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="BAPIRET2">
  <xsd:annotation>
   <xsd:documentation>Return parameter</xsd:documentation>
  </xsd:annotation>
  <xsd:sequence>
   <xsd:element name="TYPE" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Message type: S Success, E Error, W Warning, I Info, A Abort</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="ID" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Messages, Message Class</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="20"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="NUMBER" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Messages, Message Number</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:pattern value="\d+"/>
      <xsd:maxLength value="3"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="MESSAGE" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Message text</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="220"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="LOG_NO" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Application log: log number</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="20"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="LOG_MSG_NO" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Application log: Internal message serial number</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:pattern value="\d+"/>
      <xsd:maxLength value="6"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="MESSAGE_V1" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Messages, message variables</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="50"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="MESSAGE_V2" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Messages, message variables</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="50"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="MESSAGE_V3" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Messages, message variables</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="50"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="MESSAGE_V4" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Messages, message variables</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="50"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="PARAMETER" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Parameter name</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="32"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="ROW" minOccurs="0" type="xsd:int">
    <xsd:annotation>
     <xsd:documentation>Lines in parameter</xsd:documentation>
    </xsd:annotation>
   </xsd:element>
   <xsd:element name="FIELD" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Field in parameter</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="30"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="SYSTEM" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Logical system from which message originates</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="10"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
  </xsd:sequence>
 </xsd:complexType>
</xsd:schema>
