castor/branches/1.3/schema/src/test/resources/org/castor/xml/schema/writer/complextype_extension.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:pre="my.namespace.org">

   <complexType name="baseType">
      <sequence>
         <element name="baseAttr" />
      </sequence>
   </complexType>

   <complexType name="myType">
   	<complexContent>
   	  <extension base="baseType"> 	
	      <sequence>
	         <element name="myAttr" />
	         <element name="myAttr3" />
	         <element name="myAttr2" />
	      </sequence>
      </extension>
     </complexContent>
   </complexType>
   
</schema>
