trunk/xmlctf/tests/MasterTestSuite/sourcegenerator/generationOnly/busGovContext/test.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 3 U (http://www.xmlspy.com) by site licence (British Telecom Plc) -->
<xs:schema targetNamespace="http://www.businesslink.gov.uk/BusGovContent" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.businesslink.gov.uk/BusGovContent" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1a">
	<xs:element name="BusGovContent" type="BusGovContentType"/>
	<xs:complexType name="MetaDataType">
		<xs:sequence>
			<xs:element name="Name">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Value">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="2000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TaxonomyRuleHitType">
		<xs:sequence>
			<xs:element name="RuleOid" type="xs:long"/>
			<xs:element name="ProfilerScore" type="xs:long"/>
			<xs:element name="RuleStatus" type="xs:int"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ConsultationType">
		<xs:sequence>
			<xs:element name="OID" type="xs:long" minOccurs="0"/>
			<xs:element name="AtomID" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Status">
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:enumeration value="0"/>
						<xs:enumeration value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ApprovalState">
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:enumeration value="0"/>
						<xs:enumeration value="1"/>
						<xs:enumeration value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Operation" type="operation"/>
			<xs:element name="SiteID" type="xs:int" minOccurs="0"/>
			<xs:element name="Source" type="xs:string" minOccurs="0"/>
			<xs:element name="About">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="150"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="RelevantFor">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="200"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="YourViewsOn">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="500"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CommentsBy" type="bgc-date"/>
			<xs:element name="Department">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="200"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Link">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="LinkAlt">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="500"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="StartDate" type="bgc-date-timeHHmm"/>
			<xs:element name="EndDate" type="bgc-date"/>
			<xs:element name="ExpiryMethod" type="xs:int" minOccurs="0"/>
			<xs:element name="Author" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="30"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ContentHouse" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="30"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CommissioningEditor" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="30"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ProxyApprover" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="30"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DCRDetail" type="DCRDetailsType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="KeyDateRuleType">
		<xs:sequence>
			<xs:element name="OID" type="xs:long" minOccurs="0"/>
			<xs:element name="AtomID">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Status">
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:enumeration value="0"/>
						<xs:enumeration value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ApprovalState">
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:enumeration value="0"/>
						<xs:enumeration value="1"/>
						<xs:enumeration value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Operation" type="operation"/>
			<xs:element name="SiteID" type="xs:int" minOccurs="0"/>
			<xs:element name="Source" type="xs:string" minOccurs="0"/>
			<xs:element name="StartDate" type="bgc-date-timeHHmm"/>
			<xs:element name="EndDate" type="bgc-date"/>
			<xs:element name="ExpiryMethod" type="xs:int" minOccurs="0"/>
			<xs:element name="Author" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="30"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ContentHouse" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="30"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CommissioningEditor" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="30"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ProxyApprover" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="30"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DCRDetail" type="DCRDetailsType" minOccurs="0"/>
			<xs:element name="ShortDesc">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="128"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DateType" type="xs:int"/>
			<xs:element name="BaseDate" type="bgc-date" minOccurs="0"/>
			<xs:element name="DayOffset" type="xs:int"/>
			<xs:element name="MonthOffset" type="xs:int"/>
			<xs:element name="YearOffset" type="xs:int"/>
			<xs:element name="Frequency" type="xs:int"/>
			<xs:element name="Description" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="500"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Help" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="500"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="GuideHistory" type="GuideHistoryType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="RelatedItemLink" type="RelatedItemLinksType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ENewsLetterType">
		<xs:sequence>
			<xs:element name="OID" type="xs:long" minOccurs="0"/>
			<xs:element name="AtomID">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ApprovalState">
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:enumeration value="0"/>
						<xs:enumeration value="1"/>
						<xs:enumeration value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Operation" type="operation"/>
			<xs:element name="SiteID" type="xs:int" minOccurs="0"/>
			<xs:element name="Source" type="xs:string" minOccurs="0"/>
			<xs:element name="Status">
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:enumeration value="0"/>
						<xs:enumeration value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="StartDate" type="bgc-date-timeHHmm"/>
			<xs:element name="EndDate" type="bgc-date"/>
			<xs:element name="ExpiryMethod" type="xs:int" minOccurs="0"/>
			<xs:element name="Title">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="128"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PublishDate" type="bgc-date"/>
			<xs:element name="Summary">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="IntroMessage">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="4000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ImageFile" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="128"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ImageHeight" type="xs:int" minOccurs="0"/>
			<xs:element name="ImageWidth" type="xs:int" minOccurs="0"/>
			<xs:element name="ImageAlt" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="EndMessage">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="4000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="EmailTo">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ExcludeNational" type="bgc-date" minOccurs="0"/>
			<xs:element name="RelatedItemLink" type="RelatedItemLinksType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="SectionReplicant" type="ENewsletterSectionType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="PromotionReplicant" type="ENewsletterPromoType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="DCRDetail" type="DCRDetailsType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ContentType">
		<xs:sequence>
			<xs:element name="OID" type="xs:long" minOccurs="0"/>
			<xs:element name="AtomID">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ApprovalState">
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:enumeration value="0"/>
						<xs:enumeration value="1"/>
						<xs:enumeration value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Operation" type="operation"/>
			<xs:element name="SiteID" type="xs:int" minOccurs="0"/>
			<xs:element name="Source" type="xs:string" minOccurs="0"/>
			<xs:element name="Type">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="40"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SubType" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="40"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Status">
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:enumeration value="0"/>
						<xs:enumeration value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Title">
				<xs:annotation>
					<xs:documentation>Maps to Name</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="128"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="FullName" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="500"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PageType" type="xs:boolean" minOccurs="0"/>
			<xs:element name="IncludeOnSitemap" type="xs:boolean" minOccurs="0"/>
			<xs:element name="OpenAsPopup" type="xs:boolean" minOccurs="0"/>
			<xs:element name="PopupHeight" type="xs:int" minOccurs="0"/>
			<xs:element name="PopupWidth" type="xs:int" minOccurs="0"/>
			<xs:element name="IncludeToolbar" type="xs:boolean" minOccurs="0"/>
			<xs:element name="ImageFile" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="128"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ImageHeight" type="xs:int" minOccurs="0"/>
			<xs:element name="ImageWidth" type="xs:int" minOccurs="0"/>
			<xs:element name="ImageAlt" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="LongDescription" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="64000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="RelevantTo" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="500"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="EffectiveDate" type="bgc-date" minOccurs="0"/>
			<xs:element name="StartDate" type="bgc-date-timeHHmm"/>
			<xs:element name="EndDate" type="bgc-date"/>
			<xs:element name="FeedbackMailbox" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="TemplateNumber" type="xs:long" minOccurs="0"/>
			<xs:element name="DownloadFile" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="128"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ContentFile" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="128"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SuppressNewFlag" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="FulfilmentURN" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="15"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="FulfilmentSource" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="32"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="RegulationArea" type="xs:int" minOccurs="0"/>
			<xs:element name="Introduction" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Maps to Text_Extension1</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="4000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ExpiryMethod" type="xs:int" minOccurs="0"/>
			<xs:element name="Author" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="30"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ContentHouse" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="30"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CommissioningEditor" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="30"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ProxyApprover" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="30"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PromotionTheme" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Department" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="StatementQuestion" type="xs:string" minOccurs="0"/>
			<xs:element name="ShortDescription" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="200"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="RulesFileName" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="30"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PageLabelId" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="30"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="GuideUpdate" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="200"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PremiumContent" type="xs:int" minOccurs="0"/>
			<xs:element name="RequestBLContact" type="xs:int" minOccurs="0"/>
			<xs:element name="BannerText" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="200"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="BusinessActivity" type="xs:long" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Location" type="LinkDetailType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Site locations</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RelatedItemLink" type="RelatedItemLinksType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="MetaData" type="MetaDataType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="TaxonomyRuleHit" type="TaxonomyRuleHitType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="PageLabelFragment" type="PageLabelType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="BLTTextFragment" type="BLTTextFragmentType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="GuideHistory" type="GuideHistoryType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="DCRDetail" type="DCRDetailsType" minOccurs="0"/>
			<xs:element name="EmailNotification" type="xs:boolean" minOccurs="0"/>
			<xs:element name="LeadTerm" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="80"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SecondaryTerm" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="500"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SectorRegulationType">
		<xs:sequence>
			<xs:element name="OID" type="xs:long" minOccurs="0"/>
			<xs:element name="AtomID" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ApprovalState">
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:enumeration value="0"/>
						<xs:enumeration value="1"/>
						<xs:enumeration value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Operation" type="operation"/>
			<xs:element name="SiteID" type="xs:int" minOccurs="0"/>
			<xs:element name="RegulationArea" type="xs:int"/>
			<xs:element name="Status">
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:enumeration value="0"/>
						<xs:enumeration value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Title">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="FormalTitle">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="200"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ShortDescription">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="500"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="HowToComply">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="4000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="FailureToComply" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="4000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="RelatedRegulations" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="500"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="England" type="xs:int" minOccurs="0"/>
			<xs:element name="Scotland" type="xs:int" minOccurs="0"/>
			<xs:element name="Wales" type="xs:int" minOccurs="0"/>
			<xs:element name="Ireland" type="xs:int" minOccurs="0"/>
			<xs:element name="StartDate" type="bgc-date-timeHHmm"/>
			<xs:element name="EndDate" type="bgc-date"/>
			<xs:element name="ExpiryMethod" type="xs:int" minOccurs="0"/>
			<xs:element name="RelatedItemLink" type="RelatedItemLinksType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="MetaData" type="MetaDataType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="TaxonomyRuleHit" type="TaxonomyRuleHitType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="DCRDetail" type="DCRDetailsType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TopicType">
		<xs:sequence>
			<xs:element name="OID" type="xs:long" minOccurs="0"/>
			<xs:element name="AtomID">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ApprovalState" type="xs:int"/>
			<xs:element name="Operation" type="operation"/>
			<xs:element name="SiteID" type="xs:int" minOccurs="0"/>
			<xs:element name="Source" type="xs:string" minOccurs="0"/>
			<xs:element name="Status" type="xs:int"/>
			<xs:element name="Deleted" type="xs:int" minOccurs="0"/>
			<xs:element name="TopicType" type="xs:int"/>
			<xs:element name="ToolClass" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="TopicName">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="60"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="TopicText" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="400"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="TopicAltText" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="400"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="TopicSubHeadings" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="500"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="TopicDepth" type="xs:int"/>
			<xs:element name="WebTemplateDepth" type="xs:int" minOccurs="0"/>
			<xs:element name="EmailNotification" type="xs:boolean" minOccurs="0"/>
			<xs:element name="AltEmailText" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="400"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="AddToSiteMap" type="xs:boolean" minOccurs="0"/>
			<xs:element name="HideEmail" type="xs:boolean" minOccurs="0"/>
			<xs:element name="HidePdf" type="xs:boolean" minOccurs="0"/>
			<xs:element name="Author" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="30"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ContentHouse" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="30"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CommissioningEditor" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="30"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ProxyApprover" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="30"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="AlternativeSectionTitle" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ReferenceTitle" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Theme" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="HomeTheme" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ApprovalComments" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ImageFile" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ImageAlt" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ImageWidth" type="xs:int" minOccurs="0"/>
			<xs:element name="ImageHeight" type="xs:int" minOccurs="0"/>
			<xs:element name="TopicDisplay" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="60"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="LeadTerm" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="80"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PremiumContent" type="xs:int" minOccurs="0"/>
			<xs:element name="SecondaryTerm" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="500"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="GuideHistory" type="GuideHistoryType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Location" type="LinkDetailType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="RelatedItemLink" type="RelatedItemLinksType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="MetaData" type="MetaDataType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="TaxonomyRuleHit" type="TaxonomyRuleHitType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="DCRDetail" type="DCRDetailsType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SujmType">
		<xs:sequence>
			<xs:element name="OID" type="xs:long" minOccurs="0"/>
			<xs:element name="AtomID">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ApprovalState" type="xs:int"/>
			<xs:element name="Operation" type="operation"/>
			<xs:element name="SiteID" type="xs:int" minOccurs="0"/>
			<xs:element name="Source" type="xs:string" minOccurs="0"/>
			<xs:element name="Status" type="xs:int"/>
			<xs:element name="Deleted" type="xs:int" minOccurs="0"/>
			<xs:element name="JourneyType">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="80"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Title">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="200"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Mandatory" type="xs:int"/>
			<xs:element name="Subject" type="xs:int"/>
			<xs:element name="Weighting" type="xs:int"/>
			<xs:element name="DefaultSortOrder" type="xs:int" minOccurs="0"/>
			<xs:element name="ShortCutComplete" type="xs:int"/>
			<xs:element name="HelpText" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="2000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="StartDate" type="bgc-date-timeHHmm"/>
			<xs:element name="EndDate" type="bgc-date"/>
			<xs:element name="ExpiryMethod" type="xs:int"/>
			<xs:element name="RelatedItem" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="30"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ApprovalComments" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Location" type="LinkDetailType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="RelatedItemLink" type="RelatedItemLinksType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="DCRDetail" type="DCRDetailsType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LSDSiteType">
		<xs:sequence>
			<xs:element name="OID" type="xs:long" minOccurs="0"/>
			<xs:element name="ApprovalState" type="xs:int"/>
			<xs:element name="Status" type="xs:int" minOccurs="0"/>
			<xs:element name="SiteName">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SiteID" type="xs:int"/>
			<xs:element name="DisplayName">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="TeamsiteBranchName">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ParentSiteID" type="xs:integer"/>
			<xs:element name="Type" type="xs:int"/>
			<xs:element name="Deploy" type="xs:int"/>
			<xs:element name="BLOkey" type="xs:string"/>
			<xs:element name="EventRegion" type="xs:long"/>
			<xs:element name="BSDRegion" type="xs:string"/>
			<xs:element name="FurlPath">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="EventAreaName" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="200"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="EventLinkTitle" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="200"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="EventLinkURL" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="200"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="MerchantCode" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PaymentType" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SpiderBlock" type="xs:boolean" minOccurs="0"/>
			<xs:element name="OnlineBooking" type="xs:boolean" minOccurs="0"/>
			<xs:element name="OnlinePayment" type="xs:boolean" minOccurs="0"/>
			<xs:element name="PhonePayment" type="xs:boolean" minOccurs="0"/>
			<xs:element name="InvoicePayment" type="xs:boolean" minOccurs="0"/>
			<xs:element name="EventCalendar" type="xs:boolean" minOccurs="0"/>
			<xs:element name="UnixGroup" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="8"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Operation" type="operation"/>
			<xs:element name="DCRDetail" type="DCRDetailsType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RelatedItemLinksType">
		<xs:sequence>
			<xs:element name="Type">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Title" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="LinkDetail" type="LinkDetailType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ENewsletterSectionType">
		<xs:sequence>
			<xs:element name="SectionTitle" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="200"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SectionText" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="4000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="RelatedItemLink" type="RelatedItemLinksType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ENewsletterPromoType">
		<xs:sequence>
			<xs:element name="PromoTitle" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="150"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PromoTeaser" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="150"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PromoImage" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PromoImageWidth" type="xs:int" minOccurs="0"/>
			<xs:element name="PromoImageHeight" type="xs:int" minOccurs="0"/>
			<xs:element name="RelatedItemLink" type="RelatedItemLinksType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SignpostType">
		<xs:sequence>
			<xs:element name="OID" type="xs:long" minOccurs="0"/>
			<xs:element name="AtomID">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ApprovalState" type="xs:int"/>
			<xs:element name="Operation" type="operation"/>
			<xs:element name="SiteID" type="xs:int" minOccurs="0"/>
			<xs:element name="Source" type="xs:string" minOccurs="0"/>
			<xs:element name="Status" type="xs:int"/>
			<xs:element name="LinkTitle">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ContentTxt" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="2000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ShortDescription" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Maps to SDESC2</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="StartDate" type="bgc-date-timeHHmm"/>
			<xs:element name="EndDate" type="bgc-date"/>
			<xs:element name="FeedbackMailbox" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Country" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ImageFile" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="128"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ImageAlt" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ImageWidth" type="xs:int" minOccurs="0"/>
			<xs:element name="ImageHeight" type="xs:int" minOccurs="0"/>
			<xs:element name="SBSTypeCode">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="2000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Organization" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Address1" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="80"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Address2" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="80"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Address3" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="80"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Address4" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="80"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ReferenceTitle" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="City" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="County" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="40"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="LACode" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PostCode" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="9"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SyndicationFile" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="AltTag" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ExpiryMethod" type="xs:int" minOccurs="0"/>
			<xs:element name="Author" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="30"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ContentHouse" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="30"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CommissioningEditor" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="30"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ProxyApprover" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="30"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Department" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Refid" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="OrderPageURL" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PublicationURL" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ContactClass" type="xs:int" minOccurs="0"/>
			<xs:element name="FormURL" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="FormPostAddreessURL" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="FormType" type="xs:int" minOccurs="0"/>
			<xs:element name="XGridRef" type="xs:int" minOccurs="0"/>
			<xs:element name="YGridRef" type="xs:int" minOccurs="0"/>
			<xs:element name="PhoneNumber" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="MobileNumber" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="FaxNumber" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="MinicomNumber" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="OpeningHours" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="40"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="URL" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="URLAltTag" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="URLCheckText" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Email" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ContactURL" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Location" type="LinkDetailType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="RelatedItemLink" type="RelatedItemLinksType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="TelephoneDetail" type="TelephoneDetailsType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="EmailDetail" type="EmailDetailsType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="URLDetail" type="URLDetailsType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="MetaData" type="MetaDataType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="TaxonomyRuleHit" type="TaxonomyRuleHitType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="DCRDetail" type="DCRDetailsType" minOccurs="0"/>
			<xs:element name="BusinessType" type="BusinessTypeType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EventCostType">
		<xs:sequence>
			<xs:element name="Cost" type="xs:float" minOccurs="0"/>
			<xs:element name="CostDescription" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="250"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TelephoneDetailsType">
		<xs:sequence>
			<xs:element name="TelephoneType" type="xs:int">
				<xs:annotation>
					<xs:documentation>Classification of telephone type</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TelephoneDescription" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Description of telephone number</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="250"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="TelephoneNumber">
				<xs:annotation>
					<xs:documentation>Telephone number</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PhoneContactDetails" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="200"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EmailDetailsType">
		<xs:sequence>
			<xs:element name="EmailTitle" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Decription of Email Address</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="EmailAddress">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ContactURL" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="URLDetailsType">
		<xs:sequence>
			<xs:element name="URL">
				<xs:annotation>
					<xs:documentation>External link to a another website i.e. www.example.com</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="500"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="URLTitle" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="250"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="URLAlt" minOccurs="0">
				<xs:annotation>
					<xs:documentation>URL Alt text added for accessibility</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="250"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="URLCheckText" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="250"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="bgc-date-timeHHmm">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{2}/[0-9]{2}/[0-9]{4} [0-9]{2}:[0-9]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="bgc-date">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{2}/[0-9]{2}/[0-9]{4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="BusGovContentType">
		<xs:sequence>
			<xs:element name="Topic" type="TopicType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Content" type="ContentType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Consultation" type="ConsultationType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Signpost" type="SignpostType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="SectorRegulation" type="SectorRegulationType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Event" type="EventType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Poll" type="PollType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Course" type="CourseType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="SmartReg" type="SmartRegType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Question" type="QuestionType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Checklist" type="ChecklistType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Support" type="SupportType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="KeyDate" type="KeyDateType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="KeyDateRule" type="KeyDateRuleType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="ENewsLetter" type="ENewsLetterType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Sujm" type="SujmType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="LSDSite" type="LSDSiteType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="operation">
		<xs:restriction base="xs:string">
			<xs:enumeration value="create"/>
			<xs:enumeration value="update"/>
			<xs:enumeration value="delete"/>
			<xs:enumeration value="createupdate"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="AtomIDLinkType">
		<xs:sequence>
			<xs:element name="AtomID">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LinkDetailType">
		<xs:choice>
			<xs:element name="AtomID">
				<xs:annotation>
					<xs:documentation>Assuming AtomID has type encoding</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Link">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="TargetType">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="20"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="SiteID" type="xs:int" minOccurs="0"/>
						<xs:element name="UniqueID">
							<xs:complexType>
								<xs:choice>
									<xs:element name="OID" type="xs:long"/>
									<xs:element name="Name">
										<xs:annotation>
											<xs:documentation>Only currently supported for locating to topics</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="255"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
								</xs:choice>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="DCRDetailsType">
		<xs:sequence>
			<xs:element name="Type">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Name">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="256"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Path">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="512"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PageLabelType">
		<xs:sequence>
			<xs:element name="FragmentLabel">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="FragmentEditorial">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BLTTextFragmentType">
		<xs:sequence>
			<xs:element name="FragmentLabel">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="FragmentEditorial">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="GuideHistoryType">
		<xs:sequence>
			<xs:element name="GuideChangeText">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="GuideChangeDate">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EventType">
		<xs:sequence>
			<xs:element name="OID" type="xs:long" minOccurs="0"/>
			<xs:element name="AtomID" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ApprovalState" type="xs:int"/>
			<xs:element name="Operation" type="operation"/>
			<xs:element name="SiteID" type="xs:int" minOccurs="0"/>
			<xs:element name="Status" type="xs:int"/>
			<xs:element name="StartDate" type="bgc-date-timeHHmm"/>
			<xs:element name="EndDate" type="bgc-date-timeHHmm"/>
			<xs:element name="EventID" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="13"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="NationalEvent" type="xs:boolean" minOccurs="0"/>
			<xs:element name="EventName">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="80"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Description" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="4000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="EventStart" type="bgc-date-timeHHmm"/>
			<xs:element name="EventEnd" type="bgc-date-timeHHmm"/>
			<xs:element name="County" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>County name as defined in the child table</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="40"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="EventLocation">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="80"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="EventType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Maps to EventTypeDescription as defined in the child table</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="40"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Objectives" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="400"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="TargetAudience">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="150"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Organiser">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="80"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="OrganiserEmail" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="250"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="BusinessSectorID" type="xs:int" minOccurs="0"/>
			<xs:element name="EventQuota" type="xs:integer" minOccurs="0"/>
			<xs:element name="NearlyFullPercent" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:pattern value="[0-9]{0,2}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="BudgetCode" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="LateAvailability" type="xs:int" minOccurs="0"/>
			<xs:element name="Link" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="250"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CostDetail" type="EventCostType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="ExpiryMethod" type="xs:int" minOccurs="0"/>
			<xs:element name="Location" type="LinkDetailType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Site locations</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BusinessType" type="BusinessTypeType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="MetaData" type="MetaDataType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="BusinessSectorDescription" type="xs:string" minOccurs="0"/>
			<xs:element name="BusinessSectorOtherDescription" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="80"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Summary" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Author" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="30"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ContentHouse" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="30"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CommissioningEditor" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="30"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ProxyApprover" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="30"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DCRDetail" type="DCRDetailsType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BusinessTypeType">
		<xs:annotation>
			<xs:documentation>Complex type holding Sector details</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Tier1" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Top tier code i.e. A0</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="100"/>
						<xs:pattern value="[A-Z][0-9]"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Tier2" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Middle tier code i.e. A0.000</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="100"/>
						<xs:pattern value="[A-Z][0-9]\.[0-9]{3}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Tier3" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Most detailed tire code i.e. A0.000.000</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="100"/>
						<xs:pattern value="[A-Z][0-9]\.[0-9]{3}\.[0-9]{3}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PollType">
		<xs:sequence>
			<xs:element name="OID" type="xs:long" minOccurs="0"/>
			<xs:element name="AtomID" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ApprovalState" type="xs:int"/>
			<xs:element name="Operation" type="operation"/>
			<xs:element name="SiteID" type="xs:int" minOccurs="0"/>
			<xs:element name="Status" type="xs:int"/>
			<xs:element name="PollTitle">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="200"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Question1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="60"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Q1OptionType" type="xs:int"/>
			<xs:element name="Q1InternalExternal" type="xs:int" default="2"/>
			<xs:element name="Q1ResultThreshold" type="xs:int"/>
			<xs:element name="Q1Option1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="30"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Q1Option2">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="30"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Q1Option3" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="30"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Q1Option4" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="30"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Q1Option5" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="30"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Question2" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="60"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Q2OptionType" type="xs:int" minOccurs="0"/>
			<xs:element name="Q2InternalExternal" type="xs:int" default="2" minOccurs="0"/>
			<xs:element name="Q2ResultThreshold" type="xs:int" minOccurs="0"/>
			<xs:element name="Q2Option1" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="30"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Q2Option2" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="30"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Q2Option3" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="30"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Q2Option4" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="30"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Q2Option5" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="30"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Author" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="128"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="StartDate" type="bgc-date-timeHHmm"/>
			<xs:element name="EndDate" type="bgc-date"/>
			<xs:element name="ResponseText" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="30"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="AudienceType" type="xs:int" minOccurs="0"/>
			<xs:element name="ExpiryMethod" type="xs:int" minOccurs="0"/>
			<xs:element name="ContentHouse" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="30"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CommissioningEditor" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="30"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ProxyApprover" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="30"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="MetaData" type="MetaDataType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="TaxonomyRuleHit" type="TaxonomyRuleHitType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="DCRDetail" type="DCRDetailsType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TechnicalDetailsType">
		<xs:sequence>
			<xs:element name="platform" maxOccurs="unbounded">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="os" maxOccurs="unbounded">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="browser" maxOccurs="unbounded">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="extras" maxOccurs="unbounded">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="modem" type="xs:boolean"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CourseType">
		<xs:sequence>
			<xs:element name="OID" type="xs:long" minOccurs="0"/>
			<xs:element name="AtomID" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ApprovalState" type="xs:int"/>
			<xs:element name="Operation" type="operation"/>
			<xs:element name="SiteID" type="xs:int" minOccurs="0"/>
			<xs:element name="Status" type="xs:int"/>
			<xs:element name="Location" type="LinkDetailType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Site locations</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="id" type="xs:int"/>
			<xs:element name="code">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="title">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="128"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="description">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="4000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="summary">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="600"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="learningOutcomes">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="4000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="learningObjectives">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="4000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="modules">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1500"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="keyFeature">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="500"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="entryRequirements">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="700"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="whoCouldBenefit">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="700"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="studyMethod">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="duration" type="xs:int"/>
			<xs:element name="cost" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="supplier" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="tasterUrl" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="150"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="technicalDetails" type="TechnicalDetailsType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="QuestionType">
		<xs:sequence>
			<xs:element name="OID" type="xs:long" minOccurs="0"/>
			<xs:element name="AtomID" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ApprovalState" type="xs:int"/>
			<xs:element name="Operation" type="operation"/>
			<xs:element name="SiteID" type="xs:int" minOccurs="0"/>
			<xs:element name="Status" type="xs:int"/>
			<xs:element name="StartDate" type="bgc-date-timeHHmm"/>
			<xs:element name="EndDate" type="bgc-date"/>
			<xs:element name="MultipleResponses" type="xs:boolean"/>
			<xs:element name="Columns" type="xs:int"/>
			<xs:element name="SuppressNewFlag" type="xs:string" minOccurs="0"/>
			<xs:element name="Author" type="xs:string" minOccurs="0"/>
			<xs:element name="ContentHouse" type="xs:string" minOccurs="0"/>
			<xs:element name="CommisionEditor" type="xs:string" minOccurs="0"/>
			<xs:element name="ProxyApprover" type="xs:string" minOccurs="0"/>
			<xs:element name="ExpiryMethod" type="xs:int" minOccurs="0"/>
			<xs:element name="Question" type="xs:string"/>
			<xs:element name="Description" type="xs:string" minOccurs="0"/>
			<xs:element name="Location" type="LinkDetailType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Site locations</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DCRDetail" type="DCRDetailsType" minOccurs="0"/>
			<xs:element name="GuideHistory" type="GuideHistoryType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Response" type="ResponseType" minOccurs="2" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ChecklistType">
		<xs:sequence>
			<xs:element name="OID" type="xs:long" minOccurs="0"/>
			<xs:element name="AtomID" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ApprovalState" type="xs:int"/>
			<xs:element name="Operation" type="operation"/>
			<xs:element name="SiteID" type="xs:int" minOccurs="0"/>
			<xs:element name="Status" type="xs:int"/>
			<xs:element name="StartDate" type="bgc-date-timeHHmm"/>
			<xs:element name="EndDate" type="bgc-date"/>
			<xs:element name="Columns" type="xs:int"/>
			<xs:element name="Author" type="xs:string" minOccurs="0"/>
			<xs:element name="ContentHouse" type="xs:string" minOccurs="0"/>
			<xs:element name="CommisionEditor" type="xs:string" minOccurs="0"/>
			<xs:element name="ProxyApprover" type="xs:string" minOccurs="0"/>
			<xs:element name="ExpiryMethod" type="xs:int" minOccurs="0"/>
			<xs:element name="Question" type="xs:string"/>
			<xs:element name="Description" type="xs:string" minOccurs="0"/>
			<xs:element name="Location" type="LinkDetailType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Site locations</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DCRDetail" type="DCRDetailsType" minOccurs="0"/>
			<xs:element name="GuideHistory" type="GuideHistoryType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Response" type="ResponseType" maxOccurs="unbounded"/>
			<xs:element name="Type" type="xs:string"/>
			<xs:element name="QuestionType" type="xs:int"/>
			<xs:element name="QuestionCategory" type="xs:int"/>
			<xs:element name="RelatedItemLink" type="RelatedItemLinksType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="ResponseType" type="xs:int"/>
			<xs:element name="ParentResponse" type="xs:string" minOccurs="0"/>
			<xs:element name="Comments" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="KeyDateType">
		<xs:sequence>
			<xs:element name="OID" type="xs:long" minOccurs="0"/>
			<xs:element name="AtomID" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ApprovalState" type="xs:int"/>
			<xs:element name="Operation" type="operation"/>
			<xs:element name="SiteID" type="xs:int" minOccurs="0"/>
			<xs:element name="Status" type="xs:int"/>
			<xs:element name="StartDate" type="bgc-date-timeHHmm"/>
			<xs:element name="EndDate" type="bgc-date"/>
			<xs:element name="Author" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="30"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ContentHouse" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="30"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CommissioningEditor" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="30"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ProxyApprover" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="30"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ExpiryMethod" type="xs:int" minOccurs="0"/>
			<xs:element name="Question" type="xs:string"/>
			<xs:element name="Description" type="xs:string" minOccurs="0"/>
			<xs:element name="QuestionType" type="xs:int"/>
			<xs:element name="Category" type="xs:int"/>
			<xs:element name="Columns" type="xs:int"/>
			<xs:element name="RelatedItemLink" type="RelatedItemLinksType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="ResponseType" type="xs:int"/>
			<xs:element name="Response" type="ResponseType" maxOccurs="unbounded"/>
			<xs:element name="ParentResponse" type="xs:string" minOccurs="0"/>
			<xs:element name="Location" type="LinkDetailType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Site locations</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DCRDetail" type="DCRDetailsType" minOccurs="0"/>
			<xs:element name="GuideHistory" type="GuideHistoryType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ResponseType">
		<xs:sequence>
			<xs:element name="Title">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="250"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Key" type="xs:string"/>
			<xs:element name="Guide" type="RelatedItemLinksType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Description" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="500"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ResponseCategory" type="xs:int" minOccurs="0"/>
			<xs:element name="ResponseSubCategory" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ResponsePopupHelp" type="RelatedItemLinksType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="DateRules" type="RelatedItemLinksType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SmartRegType">
		<xs:sequence>
			<xs:element name="OID" type="xs:long" minOccurs="0"/>
			<xs:element name="ApprovalState" type="xs:int"/>
			<xs:element name="AtomID" type="xs:string"/>
			<xs:element name="ServiceID">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="0"/>
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ServiceName" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="0"/>
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Deleted">
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:enumeration value="0"/>
						<xs:enumeration value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Status">
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:enumeration value="0"/>
						<xs:enumeration value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SiteID" type="xs:int" minOccurs="0"/>
			<xs:element name="Operation" type="operation" default="create"/>
			<xs:element name="Description" type="xs:string" nillable="true" minOccurs="0"/>
			<xs:element name="Enabled" type="xs:int" nillable="true" minOccurs="0"/>
			<xs:element name="UserEnrollable" type="xs:int" minOccurs="0"/>
			<xs:element name="GatewayService" type="xs:int" nillable="true" minOccurs="0"/>
			<xs:element name="ExternalServiceURL" type="xs:string" nillable="true" minOccurs="0"/>
			<xs:element name="TransactURL" type="xs:string" nillable="true" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SupportType">
		<xs:sequence>
			<xs:element name="AdditionalInformation" type="RichTextType" minOccurs="0"/>
			<xs:element name="ApprovalState" type="xs:int"/>
			<xs:element name="Area" minOccurs="0" maxOccurs="unbounded">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="64"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="AtomID">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="BusinessSupportType">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="32"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Contact" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Name" minOccurs="0">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="120"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="Role" minOccurs="0">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="120"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="Organisation" minOccurs="0">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="120"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="Email" minOccurs="0">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="120"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="Telephone" minOccurs="0">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="120"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="Fax" minOccurs="0">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="20"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="AddressLine" minOccurs="0" maxOccurs="5">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="120"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="PostCode" minOccurs="0">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="120"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CompanySize" maxOccurs="unbounded">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="64"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DublinCore" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Title" minOccurs="0">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="Creator" minOccurs="0">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="Subject" minOccurs="0">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="Description" minOccurs="0">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="Publisher" minOccurs="0">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="Contributor" minOccurs="0">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="Date" minOccurs="0">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="Type" minOccurs="0">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="Format" minOccurs="0">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="Identifier" minOccurs="0">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="Source" minOccurs="0">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="Language" minOccurs="0">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="Relation" minOccurs="0">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="Coverage" minOccurs="0">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="Rights" minOccurs="0">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="255"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="EligibilityCriteria" type="RichTextType" minOccurs="0"/>
			<xs:element name="Evaluation" type="RichTextType" minOccurs="0"/>
			<xs:element name="FormalTitle">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="120"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="FormatType">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="32"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="LocalAuthority" minOccurs="0" maxOccurs="unbounded">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="64"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="LongDescription" type="RichTextType"/>
			<xs:element name="OID" type="xs:long" minOccurs="0"/>
			<xs:element name="Operation" type="operation"/>
			<xs:element name="PriorityLevel" type="xs:int"/>
			<xs:element name="Purpose" type="xs:long" maxOccurs="unbounded"/>
			<xs:element name="RecordID" type="xs:long"/>
			<xs:element name="Region" maxOccurs="unbounded">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="64"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="RelatedLink" minOccurs="0" maxOccurs="5">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Title">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="100"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="URL">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="200"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Sector" type="xs:long" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="ShortDescription">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="400"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ShortTitle">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="200"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SiteID" type="xs:int" minOccurs="0"/>
			<xs:element name="Status" type="xs:int"/>
			<xs:element name="Value" type="RichTextType" minOccurs="0"/>
			<xs:element name="VersionID" type="xs:int"/>
			<xs:element name="BusinessType" type="BusinessTypeType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Website" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="120"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LongDescriptionType">
		<xs:choice>
			<xs:element name="Paragraph" type="xs:string"/>
			<xs:element name="Bullet" type="xs:string"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="RichTextType">
		<xs:choice maxOccurs="unbounded">
			<xs:element name="Paragraph">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="0"/>
						<xs:maxLength value="2000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Bullet">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="0"/>
						<xs:maxLength value="2000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:choice>
	</xs:complexType>
</xs:schema>
