castor/tags/1.3/trunk/schema/src/test/resources/org/castor/xml/schema/writer/group_2subgroups.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema">
    <complexType name="myType">
        <sequence>
        <choice minOccurs="0" maxOccurs="unbounded">
            <element name="myStringType" type="string" />
        </choice>
        <choice minOccurs="0" maxOccurs="unbounded">
            <element name="myStringType2" type="string" />
        </choice>
        </sequence>
    </complexType>
</schema>