castor/src/tests/MasterTestSuite/xml/sourcegenerator/Array/array.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">


<xsd:element name="ArrayTest">
	<xsd:complexType>
	    <xsd:sequence>
	        <xsd:element name="array1" type="xsd:string" maxOccurs="10"/>
	        <xsd:choice minOccurs="0" maxOccurs="unbounded">
		        <xsd:element name="array2" type="xsd:boolean" minOccurs="2" maxOccurs="2"/>
		        <xsd:element name="array3" type="xsd:string" maxOccurs="4"/>
	        </xsd:choice>
	    </xsd:sequence>
    </xsd:complexType>
</xsd:element>

</xsd:schema>
