castor/trunk/schema/src/test/resources/org/castor/xml/schema/writer/complextype_sequenceattribute.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:pre="my.namespace.org">
   <complexType name="myType">
      <sequence>
         <element name="myAttr" />
         <element name="myAttr2" />
         <element name="myAttr3" />
      </sequence>
   </complexType>
</schema>
