castor/src/tests/MasterTestSuite/xml/schema/Castor test collection/TestForAttributeDecl_03.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://www.castor.org/Test"
            xmlns:cst="http://www.castor.org/Test"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">

   <!-- Test for attribute declaration with fixed value -->
   <xsd:attribute name="attr1" fixed="2002" type="xsd:integer"/>

   <!-- Test for attribute declaration with fixed value -->
   <xsd:attribute name="attr2" fixed="2002" type="xsd:string"/>

   <!-- Test for attribute declaration with fixed value -->
   <xsd:attribute name="attr3" fixed="true" type="xsd:boolean"/>

</xsd:schema>
