castor/src/tests/RegressionTestSuite/xml/schema/import/resources/B.xsd

<?xml version='1.0' encoding='UTF-8' ?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.castor.org/tests/RegressionTestSuite/schema/include/B"
           xmlns:C="http://www.castor.org/tests/RegressionTestSuite/schema/include/C">
           

<xsd:import namespace="http://www.castor.org/tests/RegressionTestSuite/schema/include/C" schemaLocation="../C.xsd"/>

<xsd:complexType name="BType">
    <xsd:sequence>
        <xsd:element name="BElement" type="xsd:int"/>
        <xsd:element ref="C:CElement"/>
    </xsd:sequence>
    <xsd:attribute ref="toplevel"/>
</xsd:complexType>
<xsd:attribute name="toplevel" type="xsd:string"/>
</xsd:schema>