castor/tags/castor-1.3.2/xmlctf/tests/MasterTestSuite/schema/SAP_EBP/UserEC.Clone_response.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="urn:sap-com:document:sap:business" targetNamespace="urn:sap-com:document:sap:business" version="1.0">
 <xsd:element name="UserEC.Clone.Response">
  <xsd:complexType>
   <xsd:sequence>
    <xsd:element name="Activitygroups" minOccurs="0">
     <xsd:complexType>
      <xsd:sequence>
       <xsd:element name="item" type="BAPIAGR" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
     </xsd:complexType>
    </xsd:element>
    <xsd:element name="AddComrem" minOccurs="0">
     <xsd:complexType>
      <xsd:sequence>
       <xsd:element name="item" type="BAPICOMREM" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
     </xsd:complexType>
    </xsd:element>
    <xsd:element name="AddFax" minOccurs="0">
     <xsd:complexType>
      <xsd:sequence>
       <xsd:element name="item" type="BAPIADFAX" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
     </xsd:complexType>
    </xsd:element>
    <xsd:element name="AddPag" minOccurs="0">
     <xsd:complexType>
      <xsd:sequence>
       <xsd:element name="item" type="BAPIADPAG" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
     </xsd:complexType>
    </xsd:element>
    <xsd:element name="AddPrt" minOccurs="0">
     <xsd:complexType>
      <xsd:sequence>
       <xsd:element name="item" type="BAPIADPRT" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
     </xsd:complexType>
    </xsd:element>
    <xsd:element name="AddRfc" minOccurs="0">
     <xsd:complexType>
      <xsd:sequence>
       <xsd:element name="item" type="BAPIADRFC" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
     </xsd:complexType>
    </xsd:element>
    <xsd:element name="AddRml" minOccurs="0">
     <xsd:complexType>
      <xsd:sequence>
       <xsd:element name="item" type="BAPIADRML" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
     </xsd:complexType>
    </xsd:element>
    <xsd:element name="AddSmtp" minOccurs="0">
     <xsd:complexType>
      <xsd:sequence>
       <xsd:element name="item" type="BAPIADSMTP" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
     </xsd:complexType>
    </xsd:element>
    <xsd:element name="AddSsf" minOccurs="0">
     <xsd:complexType>
      <xsd:sequence>
       <xsd:element name="item" type="BAPIADSSF" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
     </xsd:complexType>
    </xsd:element>
    <xsd:element name="AddTel" minOccurs="0">
     <xsd:complexType>
      <xsd:sequence>
       <xsd:element name="item" type="BAPIADTEL" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
     </xsd:complexType>
    </xsd:element>
    <xsd:element name="AddTlx" minOccurs="0">
     <xsd:complexType>
      <xsd:sequence>
       <xsd:element name="item" type="BAPIADTLX" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
     </xsd:complexType>
    </xsd:element>
    <xsd:element name="AddTtx" minOccurs="0">
     <xsd:complexType>
      <xsd:sequence>
       <xsd:element name="item" type="BAPIADTTX" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
     </xsd:complexType>
    </xsd:element>
    <xsd:element name="AddUri" minOccurs="0">
     <xsd:complexType>
      <xsd:sequence>
       <xsd:element name="item" type="BAPIADURI" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
     </xsd:complexType>
    </xsd:element>
    <xsd:element name="AddX400" minOccurs="0">
     <xsd:complexType>
      <xsd:sequence>
       <xsd:element name="item" type="BAPIADX400" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
     </xsd:complexType>
    </xsd:element>
    <xsd:element name="Parameter" minOccurs="0">
     <xsd:complexType>
      <xsd:sequence>
       <xsd:element name="item" type="BAPIPARAM" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
     </xsd:complexType>
    </xsd:element>
    <xsd:element name="Profiles" minOccurs="0">
     <xsd:complexType>
      <xsd:sequence>
       <xsd:element name="item" type="BAPIPROF" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
     </xsd:complexType>
    </xsd:element>
    <xsd:element name="Return" minOccurs="0">
     <xsd:complexType>
      <xsd:sequence>
       <xsd:element name="item" type="BAPIRET2" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
     </xsd:complexType>
    </xsd:element>
   </xsd:sequence>
   <xsd:attribute name="UserName" use="required">
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="12"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:attribute>
  </xsd:complexType>
 </xsd:element>
 <xsd:element name="UserEC.Clone.Exception">
  <xsd:complexType>
   <xsd:sequence>
    <xsd:element name="Name">
     <xsd:simpleType>
      <xsd:restriction base="xsd:string">
       <xsd:enumeration value="BapiError"/>
       <xsd:enumeration value="BapiAbort"/>
      </xsd:restriction>
     </xsd:simpleType>
    </xsd:element>
    <xsd:element name="Message" minOccurs="0">
     <xsd:complexType>
      <xsd:sequence>
       <xsd:element name="ID">
        <xsd:annotation>
         <xsd:documentation>Messages, Message Class</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
         <xsd:restriction base="xsd:string">
          <xsd:maxLength value="20"/>
         </xsd:restriction>
        </xsd:simpleType>
       </xsd:element>
       <xsd:element name="Number">
        <xsd:annotation>
         <xsd:documentation>Messages, Message Number</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
         <xsd:restriction base="xsd:string">
          <xsd:pattern value="\d+"/>
          <xsd:maxLength value="3"/>
         </xsd:restriction>
        </xsd:simpleType>
       </xsd:element>
       <xsd:element name="Text" minOccurs="0" type="xsd:string"/>
      </xsd:sequence>
     </xsd:complexType>
    </xsd:element>
    <xsd:element name="Attributes">
     <xsd:complexType>
      <xsd:sequence>
       <xsd:element name="Collection">
        <xsd:complexType>
         <xsd:sequence>
          <xsd:element name="item" maxOccurs="unbounded">
           <xsd:complexType>
            <xsd:sequence>
             <xsd:element name="Name">
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:enumeration value="BapiError"/>
                <xsd:enumeration value="BapiAbort"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element name="Message" minOccurs="0">
              <xsd:complexType>
               <xsd:sequence>
                <xsd:element name="ID">
                 <xsd:annotation>
                  <xsd:documentation>Messages, Message Class</xsd:documentation>
                 </xsd:annotation>
                 <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                   <xsd:maxLength value="20"/>
                  </xsd:restriction>
                 </xsd:simpleType>
                </xsd:element>
                <xsd:element name="Number">
                 <xsd:annotation>
                  <xsd:documentation>Messages, Message Number</xsd:documentation>
                 </xsd:annotation>
                 <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                   <xsd:pattern value="\d+"/>
                   <xsd:maxLength value="3"/>
                  </xsd:restriction>
                 </xsd:simpleType>
                </xsd:element>
                <xsd:element name="Text" minOccurs="0" type="xsd:string"/>
               </xsd:sequence>
              </xsd:complexType>
             </xsd:element>
             <xsd:element name="Attributes" minOccurs="0">
              <xsd:complexType>
               <xsd:sequence>
                <xsd:element name="MESSAGE_V1" minOccurs="0">
                 <xsd:annotation>
                  <xsd:documentation>Messages, message variables</xsd:documentation>
                 </xsd:annotation>
                 <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                   <xsd:maxLength value="50"/>
                  </xsd:restriction>
                 </xsd:simpleType>
                </xsd:element>
                <xsd:element name="MESSAGE_V2" minOccurs="0">
                 <xsd:annotation>
                  <xsd:documentation>Messages, message variables</xsd:documentation>
                 </xsd:annotation>
                 <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                   <xsd:maxLength value="50"/>
                  </xsd:restriction>
                 </xsd:simpleType>
                </xsd:element>
                <xsd:element name="MESSAGE_V3" minOccurs="0">
                 <xsd:annotation>
                  <xsd:documentation>Messages, message variables</xsd:documentation>
                 </xsd:annotation>
                 <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                   <xsd:maxLength value="50"/>
                  </xsd:restriction>
                 </xsd:simpleType>
                </xsd:element>
                <xsd:element name="MESSAGE_V4" minOccurs="0">
                 <xsd:annotation>
                  <xsd:documentation>Messages, message variables</xsd:documentation>
                 </xsd:annotation>
                 <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                   <xsd:maxLength value="50"/>
                  </xsd:restriction>
                 </xsd:simpleType>
                </xsd:element>
                <xsd:element name="LOG_NO" minOccurs="0">
                 <xsd:annotation>
                  <xsd:documentation>Application log: log number</xsd:documentation>
                 </xsd:annotation>
                 <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                   <xsd:maxLength value="20"/>
                  </xsd:restriction>
                 </xsd:simpleType>
                </xsd:element>
                <xsd:element name="LOG_MSG_NO" minOccurs="0">
                 <xsd:annotation>
                  <xsd:documentation>Application log: Internal message serial number</xsd:documentation>
                 </xsd:annotation>
                 <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                   <xsd:pattern value="\d+"/>
                   <xsd:maxLength value="6"/>
                  </xsd:restriction>
                 </xsd:simpleType>
                </xsd:element>
                <xsd:element name="PARAMETER" minOccurs="0">
                 <xsd:annotation>
                  <xsd:documentation>Parameter name</xsd:documentation>
                 </xsd:annotation>
                 <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                   <xsd:maxLength value="32"/>
                  </xsd:restriction>
                 </xsd:simpleType>
                </xsd:element>
                <xsd:element name="ROW" minOccurs="0" type="xsd:int">
                 <xsd:annotation>
                  <xsd:documentation>Lines in parameter</xsd:documentation>
                 </xsd:annotation>
                </xsd:element>
                <xsd:element name="FIELD" minOccurs="0">
                 <xsd:annotation>
                  <xsd:documentation>Field in parameter</xsd:documentation>
                 </xsd:annotation>
                 <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                   <xsd:maxLength value="30"/>
                  </xsd:restriction>
                 </xsd:simpleType>
                </xsd:element>
                <xsd:element name="SYSTEM" minOccurs="0">
                 <xsd:annotation>
                  <xsd:documentation>Logical system from which message originates</xsd:documentation>
                 </xsd:annotation>
                 <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                   <xsd:maxLength value="10"/>
                  </xsd:restriction>
                 </xsd:simpleType>
                </xsd:element>
               </xsd:sequence>
              </xsd:complexType>
             </xsd:element>
            </xsd:sequence>
           </xsd:complexType>
          </xsd:element>
         </xsd:sequence>
        </xsd:complexType>
       </xsd:element>
       <xsd:element name="Status">
        <xsd:complexType>
         <xsd:sequence>
          <xsd:element name="item" maxOccurs="unbounded" type="BAPIRET2"/>
         </xsd:sequence>
        </xsd:complexType>
       </xsd:element>
      </xsd:sequence>
     </xsd:complexType>
    </xsd:element>
   </xsd:sequence>
  </xsd:complexType>
 </xsd:element>
 <xsd:complexType name="ResponseOfUserEC.Clone">
  <xsd:choice>
   <xsd:element ref="UserEC.Clone.Response"/>
   <xsd:element ref="UserEC.Clone.Exception"/>
  </xsd:choice>
 </xsd:complexType>
 <xsd:complexType name="BAPIAGR">
  <xsd:annotation>
   <xsd:documentation>Activity groups</xsd:documentation>
  </xsd:annotation>
  <xsd:sequence>
   <xsd:element name="AGR_NAME" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Role Name</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="30"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="FROM_DAT" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Date of menu generation</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:pattern value="....-..-.."/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="TO_DAT" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Date of menu generation</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:pattern value="....-..-.."/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="AGR_TEXT" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Role name</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="80"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="ORG_FLAG" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Flag: Assignment Comes From HR Organization Management</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="BAPICOMREM">
  <xsd:annotation>
   <xsd:documentation>BAPI structure for communication type comments</xsd:documentation>
  </xsd:annotation>
  <xsd:sequence>
   <xsd:element name="COMM_TYPE" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Communication Method (Key) (Business Address Services)</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="3"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="LANGU" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Language key</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="LANGU_ISO" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Language according to ISO 639</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="COMM_NOTES" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Communication link notes</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="50"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="CONSNUMBER" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Sequence number</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:pattern value="\d+"/>
      <xsd:maxLength value="3"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="ERRORFLAG" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Flag: Record not processed</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="BAPIADFAX">
  <xsd:annotation>
   <xsd:documentation>BAPI Structure for Fax Numbers (Business Address Services)</xsd:documentation>
  </xsd:annotation>
  <xsd:sequence>
   <xsd:element name="COUNTRY" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Country for telephone/fax number</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="3"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="COUNTRYISO" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Country ISO code</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="STD_NO" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Standard sender address in this cKommunickation type</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="FAX" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Fax number: dialling code+number</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="30"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="EXTENSION" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Fax no.: Extension</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="10"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="FAX_NO" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Complete number: dialling code+number+extension</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="30"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="SENDER_NO" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Fax number for finding sender</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="30"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="FAX_GROUP" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Fax group (G3, G4, ...)</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="STD_RECIP" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Flag: Recipient is standard recipient for this number</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="R_3_USER" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Flag: connected to R/3</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="HOME_FLAG" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Recipient address in this communication type (mail sys.grp)</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="CONSNUMBER" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Sequence number</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:pattern value="\d+"/>
      <xsd:maxLength value="3"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="ERRORFLAG" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Flag: Record not processed</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="FLG_NOUSE" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Flag: This Communication Number is Not Used</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="BAPIADPAG">
  <xsd:annotation>
   <xsd:documentation>BAPI Structure for Pager Numbers (Business Address Services)</xsd:documentation>
  </xsd:annotation>
  <xsd:sequence>
   <xsd:element name="COUNTRY" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Country for telephone/fax number</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="3"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="COUNTRYISO" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Country ISO code</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="STD_NO" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Standard sender address in this cKommunickation type</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="PAGER_TYPE" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Pager service subtype</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="4"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="PAGER" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Pager number</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="30"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="PAGER_NO" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Normalized pager search field</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="30"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="CALLER_NO" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Pager number for finding sender</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="30"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="STD_RECIP" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Flag: Recipient is standard recipient for this number</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="R_3_USER" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Flag: connected to R/3</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="HOME_FLAG" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Recipient address in this communication type (mail sys.grp)</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="CONSNUMBER" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Sequence number</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:pattern value="\d+"/>
      <xsd:maxLength value="3"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="ERRORFLAG" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Flag: Record not processed</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="FLG_NOUSE" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Flag: This Communication Number is Not Used</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="BAPIADPRT">
  <xsd:annotation>
   <xsd:documentation>BAPI Structure for PRT Addresses (Business Address Services)</xsd:documentation>
  </xsd:annotation>
  <xsd:sequence>
   <xsd:element name="STD_NO" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Standard sender address in this cKommunickation type</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="PRINT_DEST" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Spool: Output device</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="4"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="STD_RECIP" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Flag: Recipient is standard recipient for this number</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="HOME_FLAG" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Recipient address in this communication type (mail sys.grp)</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="CONSNUMBER" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Sequence number</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:pattern value="\d+"/>
      <xsd:maxLength value="3"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="ERRORFLAG" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Flag: Record not processed</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="FLG_NOUSE" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Flag: This Communication Number is Not Used</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="BAPIADRFC">
  <xsd:annotation>
   <xsd:documentation>BAPI Structure for RFC Addresses (Business Address Services)</xsd:documentation>
  </xsd:annotation>
  <xsd:sequence>
   <xsd:element name="STD_NO" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Standard sender address in this cKommunickation type</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="LOG_DEST" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>RFC logical destination</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="32"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="STD_RECIP" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Flag: Recipient is standard recipient for this number</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="R_3_USER" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Flag: connected to R/3</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="HOME_FLAG" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Recipient address in this communication type (mail sys.grp)</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="CONSNUMBER" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Sequence number</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:pattern value="\d+"/>
      <xsd:maxLength value="3"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="ERRORFLAG" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Flag: Record not processed</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="FLG_NOUSE" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Flag: This Communication Number is Not Used</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="BAPIADRML">
  <xsd:annotation>
   <xsd:documentation>RML Addresses BAPI Structure (Business Address Services)</xsd:documentation>
  </xsd:annotation>
  <xsd:sequence>
   <xsd:element name="STD_NO" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Standard sender address in this cKommunickation type</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="SYMB_DEST" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Symbolic destination</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="10"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="REC_TYPE" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Recipient type (not currently used)</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="R_MAIL_CLT" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>RML- client (Remote Mail, R/3 - R/3 - communication)</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="3"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="R_MAIL" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>RML name (Remote Mail, R/3 - R/3 - communication)</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="12"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="STD_RECIP" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Flag: Recipient is standard recipient for this number</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="R_3_USER" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Flag: connected to R/3</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="HOME_FLAG" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Recipient address in this communication type (mail sys.grp)</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="CONSNUMBER" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Sequence number</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:pattern value="\d+"/>
      <xsd:maxLength value="3"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="ERRORFLAG" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Flag: Record not processed</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="FLG_NOUSE" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Flag: This Communication Number is Not Used</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="BAPIADSMTP">
  <xsd:annotation>
   <xsd:documentation>BAPI Structure for E-Mail Addresses (Bus. Addr. Services)</xsd:documentation>
  </xsd:annotation>
  <xsd:sequence>
   <xsd:element name="STD_NO" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Standard sender address in this cKommunickation type</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="E_MAIL" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Internet mail (SMTP) address</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="241"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="EMAIL_SRCH" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Internet mail (SMTP) address search field</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="20"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="STD_RECIP" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Flag: Recipient is standard recipient for this number</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="R_3_USER" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Flag: connected to R/3</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="ENCODE" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Desired data coding (SMTP)</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="TNEF" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Flag: Receiver can receive TNEF coding via SMTP</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="HOME_FLAG" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Recipient address in this communication type (mail sys.grp)</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="CONSNUMBER" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Sequence number</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:pattern value="\d+"/>
      <xsd:maxLength value="3"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="ERRORFLAG" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Flag: Record not processed</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="FLG_NOUSE" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Flag: This Communication Number is Not Used</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="BAPIADSSF">
  <xsd:annotation>
   <xsd:documentation>BAPI Structure for SSF Addresses (Business Address Services)</xsd:documentation>
  </xsd:annotation>
  <xsd:sequence>
   <xsd:element name="STD_NO" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Standard sender address in this cKommunickation type</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="DUMMY" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Single-character flag</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="STD_RECIP" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Flag: Recipient is standard recipient for this number</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="HOME_FLAG" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Recipient address in this communication type (mail sys.grp)</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="CONSNUMBER" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Sequence number</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:pattern value="\d+"/>
      <xsd:maxLength value="3"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="RFCDEST" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Logical destination (specified in function call)</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="32"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="SSFIDSHORT" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>SSFID field for screen display</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="132"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="SSF_NS" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>SSF Namespace label</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="10"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="SSF_PROF" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>SSF profile label</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="132"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="SSFIDPART1" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>SSF name signatory/recipient: Parts 1-8</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="250"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="SSFIDPART2" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>SSF name signatory/recipient: Parts 1-8</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="250"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="SSFIDPART3" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>SSF name signatory/recipient: Parts 1-8</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="250"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="SSFIDPART4" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>SSF name signatory/recipient: Parts 1-8</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="250"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="SSFIDPART5" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>SSF name signatory/recipient: Parts 1-8</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="250"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="SSFIDPART6" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>SSF name signatory/recipient: Parts 1-8</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="250"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="SSFIDPART7" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>SSF name signatory/recipient: Parts 1-8</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="250"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="SSFIDPART8" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>SSF name signatory/recipient: Parts 1-8</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="250"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="SSFIDPART9" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>SSF name signatory/recipient - part 9</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="48"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="ERRORFLAG" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Flag: Record not processed</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="FLG_NOUSE" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Flag: This Communication Number is Not Used</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="BAPIADTEL">
  <xsd:annotation>
   <xsd:documentation>BAPI Structure for Telephone Numbers (Bus. Addr. Services)</xsd:documentation>
  </xsd:annotation>
  <xsd:sequence>
   <xsd:element name="COUNTRY" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Country for telephone/fax number</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="3"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="COUNTRYISO" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Country ISO code</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="STD_NO" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Standard sender address in this cKommunickation type</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="TELEPHONE" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Telephone no.: dialling code+number</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="30"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="EXTENSION" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Telephone no.: Extension</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="10"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="TEL_NO" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Complete number: dialling code+number+extension</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="30"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="CALLER_NO" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Telephone number for determining caller</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="30"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="STD_RECIP" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Flag: Recipient is standard recipient for this number</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="R_3_USER" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Flag: connected to R/3</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="HOME_FLAG" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Recipient address in this communication type (mail sys.grp)</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="CONSNUMBER" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Sequence number</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:pattern value="\d+"/>
      <xsd:maxLength value="3"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="ERRORFLAG" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Flag: Record not processed</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="FLG_NOUSE" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Flag: This Communication Number is Not Used</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="BAPIADTLX">
  <xsd:annotation>
   <xsd:documentation>BAPI Structure for Telex Numbers (Business Address Services)</xsd:documentation>
  </xsd:annotation>
  <xsd:sequence>
   <xsd:element name="COUNTRY" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Country key</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="3"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="COUNTRYISO" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Country ISO code</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="STD_NO" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Standard sender address in this cKommunickation type</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="TELEX_NO" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Telex number</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="30"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="STD_RECIP" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Flag: Recipient is standard recipient for this number</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="R_3_USER" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Flag: connected to R/3</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="HOME_FLAG" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Recipient address in this communication type (mail sys.grp)</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="CONSNUMBER" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Sequence number</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:pattern value="\d+"/>
      <xsd:maxLength value="3"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="ERRORFLAG" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Flag: Record not processed</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="FLG_NOUSE" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Flag: This Communication Number is Not Used</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="BAPIADTTX">
  <xsd:annotation>
   <xsd:documentation>BAPI Structure for Teletext Numbers (Bus. Addr. Services)</xsd:documentation>
  </xsd:annotation>
  <xsd:sequence>
   <xsd:element name="COUNTRY" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Country key</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="3"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="COUNTRYISO" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Country ISO code</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="STD_NO" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Standard sender address in this cKommunickation type</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="TELETEX" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Teletex number</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="30"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="STD_RECIP" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Flag: Recipient is standard recipient for this number</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="R_3_USER" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Flag: connected to R/3</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="HOME_FLAG" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Recipient address in this communication type (mail sys.grp)</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="CONSNUMBER" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Sequence number</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:pattern value="\d+"/>
      <xsd:maxLength value="3"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="ERRORFLAG" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Flag: Record not processed</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="FLG_NOUSE" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Flag: This Communication Number is Not Used</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="BAPIADURI">
  <xsd:annotation>
   <xsd:documentation>BAPI Structure for URI Addresses (Business Address Services)</xsd:documentation>
  </xsd:annotation>
  <xsd:sequence>
   <xsd:element name="STD_NO" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Standard sender address in this cKommunickation type</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="URI_TYPE" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>URI type flag</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="3"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="URI" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>URI, e.g. Homepage or ftp Address</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="132"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="STD_RECIP" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Flag: Recipient is standard recipient for this number</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="HOME_FLAG" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Recipient address in this communication type (mail sys.grp)</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="CONSNUMBER" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Sequence number</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:pattern value="\d+"/>
      <xsd:maxLength value="3"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="URI_PART1" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Universal Resource Identifier (URI): Parts 1-8</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="250"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="URI_PART2" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Universal Resource Identifier (URI): Parts 1-8</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="250"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="URI_PART3" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Universal Resource Identifier (URI): Parts 1-8</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="250"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="URI_PART4" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Universal Resource Identifier (URI): Parts 1-8</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="250"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="URI_PART5" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Universal Resource Identifier (URI): Parts 1-8</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="250"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="URI_PART6" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Universal Resource Identifier (URI): Parts 1-8</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="250"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="URI_PART7" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Universal Resource Identifier (URI): Parts 1-8</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="250"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="URI_PART8" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Universal Resource Identifier (URI): Parts 1-8</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="250"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="URI_PART9" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Universal Resource Identifier (URI) - Part 9</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="48"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="ERRORFLAG" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Flag: Record not processed</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="FLG_NOUSE" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Flag: This Communication Number is Not Used</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="BAPIADX400">
  <xsd:annotation>
   <xsd:documentation>BAPI Structure for X.400 Adresses (Business Addr. Services)</xsd:documentation>
  </xsd:annotation>
  <xsd:sequence>
   <xsd:element name="STD_NO" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Standard sender address in this cKommunickation type</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="COUNTRY" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>X.400 country code</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="3"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="COUNTRYISO" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Country ISO code</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="ADM_DOM" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>X.400 administration domain</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="16"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="PRIV_DOM" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>X.400 private domain</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="16"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="ORGANIZATN" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>X.400 organization</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="64"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="ORG_UNIT_1" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>X.400 organizational unit 1</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="32"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="ORG_UNIT_2" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>X.400 organizational unit 2</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="32"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="ORG_UNIT_3" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>X.400 organizational unit 3</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="32"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="ORG_UNIT_4" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>X.400 organizational unit 4</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="32"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="LASTNAME" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>X.400 last name</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="40"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="FIRSTNAME" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>X.400 first name</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="16"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="INITIALS" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>X.400 Initials</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="5"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="GENERATION" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>X.400 generation</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="3"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="X_121_ADDR" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>X.400 X.121 network address</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="15"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="TERM_ID" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>X.400 Terminal ID</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="24"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="TERM_TYPE" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>X.400 terminal type</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="UANID" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>X.400 user agent numeric ID</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="32"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="DDA_TYPE1" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>X.400 domain defined attribute, type 1</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="8"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="DDA_VALUE1" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>X.400 domain defined attribute, value 1</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="128"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="DDA_TYPE2" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>X.400 domain defined attribute, type 2</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="8"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="DDA_VALUE2" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>X.400 domain defined attribute, value 2</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="128"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="DDA_TYPE3" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>X.400 domain defined attribute, type 3</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="8"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="DDA_VALUE3" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>X.400 domain defined attribute, value 3</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="128"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="DDA_TYPE4" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>X.400 domain defined attribute, type 4</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="8"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="DDA_VALUE4" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>X.400 domain defined attribute, value 4</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="128"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="STD_RECIP" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Flag: Recipient is standard recipient for this number</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="R_3_USER" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Flag: connected to R/3</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="TXT_ENCODE" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Desired text data coding (X.400)</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="TNEF" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Flag: Receiver can receive TNEF coding via X.400</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="HOME_FLAG" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Recipient address in this communication type (mail sys.grp)</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="CONSNUMBER" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Sequence number</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:pattern value="\d+"/>
      <xsd:maxLength value="3"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="ERRORFLAG" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Flag: Record not processed</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="FLG_NOUSE" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Flag: This Communication Number is Not Used</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="BAPIPARAM">
  <xsd:annotation>
   <xsd:documentation>User: Parameter Transfer Structure</xsd:documentation>
  </xsd:annotation>
  <xsd:sequence>
   <xsd:element name="PARID" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Set/Get parameter ID</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="20"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="PARVA" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Parameter value</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="18"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="PARTXT" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Short text describing R/3 Repository objects</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="60"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="BAPIPROF">
  <xsd:annotation>
   <xsd:documentation>User: Profile Transfer Structure</xsd:documentation>
  </xsd:annotation>
  <xsd:sequence>
   <xsd:element name="BAPIPROF" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Profile name</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="12"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="BAPIPTEXT" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Texts in user master/authorizations</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="60"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="BAPITYPE" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Type of profile (composite or simple)</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="BAPIAKTPS" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Active or maintenance version</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="BAPIRET2">
  <xsd:annotation>
   <xsd:documentation>Return parameter</xsd:documentation>
  </xsd:annotation>
  <xsd:sequence>
   <xsd:element name="TYPE" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Message type: S Success, E Error, W Warning, I Info, A Abort</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="ID" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Messages, Message Class</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="20"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="NUMBER" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Messages, Message Number</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:pattern value="\d+"/>
      <xsd:maxLength value="3"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="MESSAGE" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Message text</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="220"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="LOG_NO" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Application log: log number</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="20"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="LOG_MSG_NO" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Application log: Internal message serial number</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:pattern value="\d+"/>
      <xsd:maxLength value="6"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="MESSAGE_V1" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Messages, message variables</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="50"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="MESSAGE_V2" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Messages, message variables</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="50"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="MESSAGE_V3" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Messages, message variables</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="50"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="MESSAGE_V4" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Messages, message variables</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="50"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="PARAMETER" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Parameter name</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="32"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="ROW" minOccurs="0" type="xsd:int">
    <xsd:annotation>
     <xsd:documentation>Lines in parameter</xsd:documentation>
    </xsd:annotation>
   </xsd:element>
   <xsd:element name="FIELD" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Field in parameter</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="30"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <xsd:element name="SYSTEM" minOccurs="0">
    <xsd:annotation>
     <xsd:documentation>Logical system from which message originates</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="xsd:string">
      <xsd:maxLength value="10"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
  </xsd:sequence>
 </xsd:complexType>
</xsd:schema>
