castor/trunk/src/tests/xml/MasterTestSuite/sourcegenerator/generationOnly/NameCollisions/javaLang/complexTypeAndMapping/test1/test.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">

    <xs:element name="exception" type="interruptedException"/>

    <xs:complexType name="interruptedException">
        <xs:sequence>
            <xs:element name="class" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
