castor/src/tests/RegressionTestSuite/xml/sourcegenerator/bug978/bug978.xsd

<?xml version='1.0'?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	

   <xsd:element name="root" type="DescriptionType"/>
   <xsd:complexType name="DescriptionType">
       <xsd:sequence>
       <xsd:element name="author" type="AuthorType">
           <xsd:annotation><xsd:documentation>This is the author of this Description
           </xsd:documentation></xsd:annotation>
       </xsd:element>
       </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="AuthorType">
        <xsd:sequence>
            <xsd:element name="Name" type="xsd:string"/>
            <xsd:element name="DOB" type="xsd:date"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>