castor/tags/1.1.2.1/xmlctf/tests/MasterTestSuite/sourcegenerator/Base64Binary/castor-bug-1575.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="urn:oasis:names:tc:wsrp:v1:types" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:types="urn:oasis:names:tc:wsrp:v1:types" elementFormDefault="qualified">
	<complexType name="RegistrationState">
		<sequence>
			<element name="registration" type="xsd:base64Binary" minOccurs="0"/>
		</sequence>
	</complexType>
	<element name="Registration" type="types:RegistrationState"/>
</schema>
